[2015-07-16 17:02] wKovacs64 commented on #487
`Drawer.OnDrawerItemClickListener` `onItemClick` position looks off, this time it's one too high. Is that an intentional change (maybe `AccountHeader` is always position 0 or something?)? Didn't have time to debug that yet.

Padding looks off on 4.1.1 as shown here (flush against left edge):

![mdon411](https://cloud.githubusercontent.com/assets/1288694/8729473/bd41d5c0-2ba8-11e5-9f86-bd52b52cbddc

[2015-07-16 17:03] mikepenz commented on #490
You can also define it by style: http://stackoverflow.com/a/26715076/325479

[2015-07-16 17:03] #490 closed

[2015-07-16 17:05] mikepenz commented on #487
@wKovacs64 the `position` will now return the real position inside the `RecyclerView`. If you have one header it will be +1. This change was done as i would like people to use the `identifier` to check what should be done.

Ok this one is interesting. I tested everything with API 10, 17, 19, 21 :D

[2015-07-16 17:07] mikepenz commented on #487
@wKovacs64 ok happens now also with 17. Thanks

[2015-07-16 17:07] wKovacs64 commented on #487
@mikepenz OK, position change makes sense then. Identifiers going forward.

Not sure what's up with the padding.

[2015-07-16 17:18] mikepenz commented on #487
I really don't know why it forgets about the padding on 4.1.1 & 4.2.2. The same for the MiniDrawer view. Got anyone ideas?

[2015-07-16 17:19] wKovacs64 commented on #487
`.withIconTintingEnabled(true)` isn't working for me either.

[2015-07-16 17:46] mikepenz commented on #487
@wKovacs64 both should be fixed in the new source. here's a new sample app http://weew.ee/k781A

[2015-07-16 17:46] mikepenz commented on #493
will be in the new v4.0.0

[2015-07-16 17:46] #493 closed

[2015-07-16 17:48] wKovacs64 commented on #487
Cool, I'll test in my app once it's available via gradle. Thanks.

[2015-07-16 17:50] mikepenz commented on #487
@wKovacs64 new build at the SNAPSHOT repo as:

compile('com.mikepenz:materialdrawer:4.0.0.b2-SNAPSHOT@aar') {
    transitive = true
}

[2015-07-16 17:54] wKovacs64 commented on #487
@mikepenz Looks like padding was only fixed for drawer items with an icon? My items without icons are still flush.

`.withIconTintingEnabled(true)` is tinting the drawer item name but not the icon. Ironic, given the method name. :wink:

[2015-07-16 17:56] mikepenz commented on #487
@wKovacs64 haha :D ok that's now a problem. as i moved to set the marginLeft for the icon as `padding` does not work. no idea why. and no answers found about similar issues...

ok so i just fixed the coloring :D but not the tinting. thanks :P

[2015-07-16 18:14] sanuggko opened #495 "Update bange text of sticky drawer item"
I`m try to use method updateBange with position -1, because in OnDrawerItemClickListener paramets "i" and "l" has value -1. But nothing happends.

[2015-07-16 18:19] mikepenz commented on #487
@wKovacs64 ok seems the RelativeLayout i used for the items is causing the problems. will change

[2015-07-16 18:32] mikepenz commented on #495
StickyDrawerItems do not have a position. They need to be handled differnetly

[2015-07-16 18:34] sanuggko commented on #495
and how I can to update it?

[2015-07-16 18:34] mikepenz commented on #495
@sanuggko this is not yet possible

[2015-07-16 18:37] sanuggko commented on #495
okey, thanks for your attention!

[2015-07-16 18:47] mikepenz commented on #487
New build at the SNAPSHOT repo as:

[code]

@wKovacs64 this time those bugs should be fixed :D

[2015-07-16 19:19] wKovacs64 commented on #487
@mikepenz Icon tinting seems inconsistent. Opening the drawer, selecting different items, closing the drawer, opening again, selecting another item, etc. (monkey testing). Sometimes it works, sometimes it doesn't. Behavior is the same on 4.1.1 and 5.1.0.

Also, I think prior versions selected the first drawer item by default? This isn't happening anymore (likely due to the positioning change discu

[2015-07-16 19:28] mikepenz commented on #491
@anticafe will be in v4.0.0

[2015-07-16 19:28] #491 closed

[2015-07-16 19:35] mikepenz commented on #487
@wKovacs64 ok thanks for this testing. was this already the case for v3.x?

The best would be to define your own item to select for creating. position will be inconsistent again. i will also probably remove or minimize the methods which allow you to define stuff via position. as it is just not transparent enough

[2015-07-16 19:38] wKovacs64 commented on #487
Tinting is fine in 3.x.

[2015-07-16 19:53] mikepenz commented on #487
New build at the SNAPSHOT repo as:

* Includes fixes for tinting
* Support annotations

[code]

@wKovacs64 now tinting should be really fine

[2015-07-16 20:01] wKovacs64 commented on #487
@mikepenz Tinting looks good now, agreed. Thanks!

[2015-07-16 20:05] mikepenz commented on #487
@wKovacs64 great. so now i removed the byIdentifier from the methods, and added byPosition to the old methods

[2015-07-16 20:09] wKovacs64 commented on #487
I'm in favor of leaving everything position-based behind, assuming functional parity exists using identifiers. Deprecate the position methods in 3.x (if there will be another release before 4.x) and remove them completely from 4.0.0.

[2015-07-16 20:10] mikepenz commented on #487
@wKovacs64 sounds good but there is one problem. adding a DrawerItem at a position and so on. I will just not for those methods that the dev should know himself if he uses a header or not

[2015-07-16 20:14] wKovacs64 commented on #487
Hmm, I suppose so. Too bad. Unless you could do something like `.addItemBefore()` and/or `.addItemAfter()`, but that might be a bit awkward.

[2015-07-16 20:20] mikepenz commented on #487
@wKovacs64 yes i think you are right.

[2015-07-16 20:24] mikepenz commented on #487
If someone has ideas to cleanup more methods or remove some methods let me know.

[2015-07-16 23:43] EpsilonOrionis commented on #490
It works, thank you very much. I'm eager to try the new version of MaterialDrawer

[2015-07-17 03:39] hy9be opened #496 "withIcon(String uri) always result in a default place holder icon"
My code:
[code]

This always result in a placeholder profile icon with blue background and black foreground. I checked the url, it is pointed to a valid profile image.

[2015-07-17 03:52] hy9be commented on #496
Here is the full logic:

[code]

[2015-07-17 03:54] hy9be commented on #496
I tried to use Picasso to load the image from the url. The returned bitmap is valid, but once I set the icon with ``setIcon`` method. The icon turns to the placeholder one.

[2015-07-17 03:54] hy9be commented on #496
I updated to 3.1.2. The issue still presents.

[2015-07-17 07:15] mikepenz commented on #496
@hy9be you provide the ImageLoader to use?
https://github.com/mikepenz/MaterialDrawer/blob/develop/app/src/main/java/com/mikepenz/materialdrawer/app/CustomApplication.java#L22

[2015-07-17 13:36] macaronlover opened #497 "How to enable multiline for Section header"
Hi. How can I enable multiline for a section header? I need my appropriately long title to appear on 4 lines.

[2015-07-17 13:49] macaronlover opened #498 "How show original icon colour on Lollipop & pre-Lollipop"
How can I show the original colour of my icon for my item on both Lollipop and pre-Lollipop?

[2015-07-17 14:20] macaronlover opened #499 "label:question How do I"

[2015-07-17 14:20] #499 closed

[2015-07-17 15:40] mikepenz commented on #497
Here's the source of the original SectionDrawerItem you can copy it / or extend it and create a custom DrawerItem. You can also specify a different layout. this will allow you to get the desired effect

https://github.com/mikepenz/MaterialDrawer/blob/develop/library/src/main/java/com/mikepenz/materialdrawer/model/SectionDrawerItem.java

[2015-07-17 15:40] #497 closed

[2015-07-17 15:41] mikepenz commented on #498
@macaronlover can you show screenshot or describe what you want?

[2015-07-17 15:41] #496 closed

[2015-07-17 15:57] macaronlover commented on #498
Sure. I want the menu item icon to appear in the original colour (rather than plain ol' grey) for pre-Lollipop as well as >= Lollipop.
![xun30](https://cloud.githubusercontent.com/assets/12353505/8751407/c005514a-2ca4-11e5-9108-8915e9ce0b30.png)

[2015-07-17 15:58] mikepenz commented on #498
what do you mean with original color?

[2015-07-17 15:58] macaronlover commented on #498
the colour of the icon is brown but doesn't show that colour on pre-Lollipop

[2015-07-17 15:59] mikepenz commented on #498
why don't you just provide gray drawables instead?

[2015-07-17 16:00] macaronlover commented on #498
Because I want them to appear in colour

[2015-07-17 16:03] mikepenz commented on #498
so you provide a .png which is in color and it does not show up like this on pre lollipop?

[2015-07-17 16:03] macaronlover commented on #498
That's correct

[2015-07-17 16:05] mikepenz commented on #498
@macaronlover the library does not change the provided icon drawable if you do not enable withTinting

[2015-07-17 16:06] macaronlover commented on #498
How do I enable it on pre-Lollipop?

[2015-07-17 16:07] mikepenz commented on #498
why should you enable it. you already mentioned the icon is in color and you do not want to change its color?

[2015-07-17 16:10] macaronlover commented on #498
correct but in pre-Lollipop it changes from to grey for some reason

[2015-07-17 16:11] mikepenz commented on #498
and you have not enabled `withIconTintingEnabled()`
on the drawerITem?

and just again to make sure you have it as a ".png" not as drawable which you colored on your own

[2015-07-17 16:14] macaronlover commented on #498
I'll need to get back to you as I was actually using this library and may switch over to yours if this can be done: https://github.com/chrisbanes/cheesesquare/

[2015-07-17 16:15] mikepenz commented on #498
You just sent me a showcase :D

[2015-07-17 16:22] macaronlover commented on #498
I do apologise mikepenz, What does that mean?

[2015-07-17 16:24] mikepenz commented on #498
You still did not answer these questions: https://github.com/mikepenz/MaterialDrawer/issues/498#issuecomment-122329309

about the previous message. cheesesquare is just a showcase? so not sure what you are trying to say?

[2015-07-17 16:33] macaronlover commented on #498
What I was saying is that I haven't used your project yet. I've been using cheese square but was wondering if I can achieve want I want using your project, then I'll use yours instead of cheesesquare.

[2015-07-17 16:36] macaronlover commented on #498
![screen shot 2015-07-17 at 17 36 32](https://cloud.githubusercontent.com/assets/12353505/8752158/62f97138-2caa-11e5-86be-0d2142d64318.png)

[2015-07-17 16:38] mikepenz commented on #498
@macaronlover you can download this repo and try everything yourself. but yes it is possible.

[2015-07-17 16:38] #498 closed

[2015-07-17 16:46] macaronlover commented on #498
withIconTintingEnabled() solved the colour issue so many thanks for that

[2015-07-17 16:48] macaronlover commented on #498
withIconTintingEnabled() solved the pre-Lollipop issue so many thanks for that. I'll ditch chessesquare eventually ;-)

[2015-07-17 16:48] mikepenz commented on #498
Try everything first and make sure it works as expected. then you can use it

[2015-07-17 16:50] macaronlover commented on #498
Sure, I certainly will.

[2015-07-17 22:42] macaronlover commented on #498
Had a play around with your project but it is so difficult to pick out the important bits to create a simple project. All I want is to replicate the SimpleCompactHeaderDrawerActivity (without the accounts stuff) but find it too difficult to determine which files need to be copied. Have a look at my screenshot of my project for more information.
![screen shot 2015-07-17 at 23 36 40](https://cloud.g

[2015-07-18 02:47] hy9be commented on #496
That worked. Thank you!

[2015-07-18 14:23] 7ShaYaN7 commented on #458
OK, thanks for the guidance, Here I Go...

[2015-07-18 16:12] mikepenz commented on #498
@macaronlover why should you copy over files? just add the gradle dependecy and use the drawer?

[2015-07-18 18:40] mikepenz commented on #487
* updated google support library
* improve MiniDrawer
* some more fixes

[code]

[2015-07-18 23:19] mikepenz commented on #487
* more refactoring for the MiniDrawer
* use new Crossfader library
* some api improvements

[code]

[2015-07-19 04:56] qiuxiaoj opened #500 "Click the drawer view will trigger the backend view, When i use custom view."
Click the drawer view will trigger the backend view, When i use custom view.

[2015-07-19 14:56] macaronlover commented on #498
Don't I need to add some imports?
![screen shot 2015-07-19 at 15 54 07](https://cloud.githubusercontent.com/assets/12353505/8766396/6c084788-2e2e-11e5-8352-7074c6cfd95f.png)

[2015-07-19 15:25] mikepenz commented on #500
@qiuxiaoj can you please be a bit more specific? what do you mean with backend view?
And how does your custom view look like?

[2015-07-20 12:00] qiuxiaoj commented on #500
Thank you for your answer.
My Code:
[code]

left_navigation_drawer.xml

[code]

### When i click the view of 'tv_name', the ListView under this will trigger.

[2015-07-20 13:42] salvolf commented on #83
News about this new "feature" ?

[2015-07-20 14:23] mikepenz commented on #83
@salvolf there is `setActiveProfile()` on `AccountHeader` so you can use this one

[2015-07-20 14:25] mikepenz commented on #500
@qiuxiaoj ok you have a custom view here. and it's your custom layout. so it's no MaterialDrawer bug. I assume you will have to set an OnClickListener for the view. or set the view clickable. But this is up to you

[2015-07-20 14:25] #500 closed

[2015-07-20 21:00] theCodingWizard opened #501 "Back Arrow Click is Opening Drawer?"
Hello,

I got a little issue. The library works great, but whenever I decide to show the back arrow whenever I click it it always shows the drawer.

**How do I implement a back arrow click?**

I want to be able to show a back arrow and handle a click, then at the home page the arrow should turn into a three-line icon.

Note that I am manually controlling when the back arrow should be shown. I am u

[2015-07-20 21:01] mikepenz commented on #501
https://github.com/mikepenz/MaterialDrawer/issues/452#issuecomment-118399293

[2015-07-20 21:01] #501 closed

[2015-07-20 21:02] mikepenz commented on #501
The ComplexHeaderActivity in the sample showcases what you are trying.

[2015-07-20 21:04] theCodingWizard commented on #501
Ah thank you!

[2015-07-21 00:58] filbertteo commented on #406
@mikepenz Unfortunately, I've already migrated to using the navigation drawer from the Android design support library, so I won't know if your new version fixes the issue. I'm working on other projects for now, but if I have spare time in the future, I'll try to look into it for you. Sorry about that.

[2015-07-21 08:38] #406 closed

[2015-07-21 09:19] vkuzub opened #502 "Second drawer withSliderBackgroundColor() not working? [3.1.2]"
I am trying to change background color for Second (right) slider with `withSliderBackgroundColor()` or `withSliderBackgroundColorRes()`, this methods are working for the first (left) drawer but nothing happen for the second drawer.

[2015-07-21 09:25] mikepenz commented on #502
@vkuzub how do you try to use this method?

[2015-07-21 09:31] vkuzub commented on #502
Drawer result = new DrawerBuilder()
                .withActivity(this)
                .withDrawerWidthDp(160)
                .withSliderBackgroundColorRes(android.R.color.white)
//some init code here
                .build();

Drawer second = new DrawerBuilder()
                .withActivity(this)
                .withDrawerWidthDp(200)
                .withSliderBackgroundColor(Color.RED)

[2015-07-21 09:39] mikepenz commented on #502
i will look at it later today

[2015-07-22 07:10] jonwu opened #503 "Where can I find the style of your Toast"
I really like your toast, but it doesn't extend to my other activities. Where can I find this style?

[2015-07-22 07:48] mikepenz commented on #503
@jonwu which toast? toasts are not part of this project

[2015-07-22 07:48] #503 closed

[2015-07-22 08:37] korrio opened #504 "Badge support for mini drawer ?"
![screenshot](https://raw.githubusercontent.com/mikepenz/Crossfader/develop/DEV/screenshots/screenshot1_small.png)

I'm thinking about the badges, Mike said that it's a good idea.

[2015-07-22 08:53] alorma commented on #504
:+1:

[2015-07-22 15:18] bmsgarces opened #505 "ActionBar/Toolbar menu items displaying twice"
The same thing filipebezerra posted on neokree MaterialNavigationDrawer is happening to me.

See: https://github.com/neokree/MaterialNavigationDrawer/issues/254

Any thoughts on this?

[2015-07-22 16:25] jonwu commented on #503
You are correct. I didn't realize Activity toasts vs Application toasts have different styles :/ My bad.

Thanks for the quick response, mike! This library is amazing :+1:

[2015-07-22 16:37] mikepenz commented on #503
@jonwu thanks ;)

[2015-07-22 16:43] mikepenz commented on #505
@filipebezerra @bmsgarces what are you doing to get this issue? i never had this one or i never saw this one?

I assume it could be related to the android appcompat library. I do not do anything with the menu. so i'm sure this is not related to the MaterialDrawer

[2015-07-22 17:22] filipebezerra commented on #505
Yeap I thing that issue is related with the support library.

To simulate that all you have to do is to include a menu resource file within a item as showAsAction=always to always see it in ActionBar. And when the menu is inflated, press the the menu softkey.

To replace that behavior, I override the onKeyUp in the activity, then handling the KeyEvent.KEYCODE_MENU to open the Drawer.

[2015-07-22 17:26] filipebezerra commented on #505
The issue is, when the menu item is shown in the ActionBar (or in Overflow menu), pressing the menu softkey, then the menu is shown above the navigation bar with the same menu visible at ActionBar.

[2015-07-22 17:28] mikepenz commented on #505
@filipebezerra yeah sorry that i can't help here. but perhaps it is fixed in one of the next appcompat updates

[2015-07-22 17:28] #505 closed

[2015-07-22 17:34] bmsgarces commented on #505
Well, thanks for the input filipe.

[2015-07-22 17:41] filipebezerra commented on #505
Thanks for you guys

[2015-07-22 18:12] mikepenz commented on #502
Will be fixed in v4.0.0

[2015-07-22 18:12] #502 closed

[2015-07-22 18:23] mikepenz commented on #495
@sanuggko this will be possible in the next version v4.0.0

[2015-07-22 18:23] #495 closed

[2015-07-23 12:14] denernun commented on #495
And updateName in StickyDrawerItem will be possible in next version too ?

Tks

[2015-07-23 12:35] mikepenz commented on #495
@denernun it will be possible via updating the set item via an identifier in the footer.

[2015-07-23 17:53] vanshg opened #506 "Laggy Drawer"
Whenever I try to use the drawer, it is really laggy. Regardless of opening or closing, it is laggy. I have made sure that there is no work going on in the background. Even when the app is not doing anything, and I try to open the drawer, I still get the issue.

How do I go about fixing this?

[2015-07-23 18:40] mikepenz commented on #506
@vanshg which version of the drawer do you use? which phone do you have? which android version? is the sample app also laggy?

[2015-07-23 18:50] vanshg commented on #506
Thanks for the prompt reply.

I'm using 3.1.2 on a Samsung GS6 with 5.1.1. The sample application is working as smooth as honey.

[2015-07-23 18:59] mikepenz commented on #506
@vanshg so you have an empty application containing the same setup as in the sample application?

[2015-07-23 19:07] vanshg commented on #506
It's not empty; it's got most of the application finished. I decided to get rid of the simple navigation drawer that I had and I decided to replace it with this one for easy customization and usage. The weird thing is that the drawer I was using before seemed to work without lag.

[2015-07-23 19:09] mikepenz commented on #506
@vanshg and you have implemented the drawer like you see it inside the sample application?

[2015-07-23 19:23] vanshg commented on #506
Just ran through and compared the code, the only difference I see is that you used withSavedInstaneState, so I decided to try adding that, but to no avail. Other than that, the implementation is nearly identical

[2015-07-23 19:27] vanshg commented on #506
The code I'm using to build the drawer is as follows:

drawer = new DrawerBuilder()
                .withActivity(this)
                .withToolbar(toolbar)
                .withSavedInstance(savedInstanceState)
                .withAccountHeader(headerResult)
                .addDrawerItems(
                        new PrimaryDrawerItem().withName(mDrawerItems.get(0)).withIcon(mDrawerIcons.getDr

[2015-07-23 19:32] mikepenz commented on #506
@vanshg the drawables are the correct size?

[2015-07-23 19:35] vanshg commented on #506
I believe so. I have multiple resources depending on the density of the screen (aka pictures in the mdpi folder, hdpi, xhdpi, etc). Is there a better way of doing that?

[2015-07-23 19:37] mikepenz commented on #506
@vanshg that is correct. but what's the size of them. if you remove them is it still laggy?

[2015-07-23 19:45] vanshg commented on #506
I just removed all instances of .withIcon(...), but the drawer is still not working as expected

[2015-07-23 19:48] mikepenz commented on #506
@vanshg something must block the drawer or must lower the performance. else the sample would also be laggy on your phone :/

[2015-07-23 19:49] vanshg commented on #506
Wait! I just tried disabling the account header, and it's working smoothly now. I think I may have an incorrect sized picture for my profile picture

[2015-07-23 19:51] #506 closed

[2015-07-23 19:55] mikepenz commented on #506
@vanshg oh you did not show this part :D

great ;).

[2015-07-23 20:04] vanshg commented on #506
Sorry, my bad. Didn't realize that would be the cause of it ¯\_(ツ)_/¯

[2015-07-23 20:08] mikepenz commented on #506
no problem :dancer:

[2015-07-23 21:18] mikepenz commented on #487
@wKovacs64 @FabianTerhorst @saeedDarvish @brunano21 @raghunandankavi2010 @alorma @simonckenyon @korrio

New beta coming in ;). This should be one of the last betas before the final release
[code]

What has changed:
* removed all drawer.updateName, ... methods, because the items should be updated via `updateItem`
* a huge amount of bugfixes (even bugs which could occur in v3.1.2)
* huge improvement

[2015-07-23 21:18] mikepenz commented on #504
can be tested in the latest beta of v4.0.0 https://github.com/mikepenz/MaterialDrawer/issues/487

[2015-07-23 21:18] #504 closed

[2015-07-23 21:18] mikepenz commented on #123
can be tested in the latest beta of v4.0.0 #487

[2015-07-23 21:18] #123 closed

[2015-07-23 22:13] wKovacs64 commented on #487
@mikepenz
Was the 8dp padding at the top and bottom of the drawer item list removed intentionally?

Also noticed (not new to b7) my `DividerDrawerItem` is invisible. Expected it to be `#1F000000` from `material_drawer_divider`, I think?

[2015-07-23 23:16] cami7ord commented on #426
But what about when i don't have a Toolbar and I'm using the "Activity with ActionBar" builder?

[2015-07-24 05:48] mikepenz commented on #426
@cami7ord if you have an `ActionBar` you will have to handle the hamburger icon on your own.

I really suggest you to update to a `Toolbar` this is done within 3 minutes and allows you to have a `Drawer` which goes below the `StatusBar` and follows the Google Material Design Guidelines

[2015-07-24 05:52] mikepenz commented on #487
@wKovacs64 ok i will take a closer look on those 2 points. Anything else you missed or think is broken in the new version? Do you think the updated methods are easier to understand?

Also the `Holders` i use now, and the `BadgeStyle` which simplifies methods on my side, and should simplify many things...

I clicked through all activities on API 10, API 17 and API 21 and did not see additional bugs

[2015-07-24 10:46] RubenGees commented on #487
Great work! But I have noticed one thing: The ripple is gone/replaced.

Before:
![before](https://cloud.githubusercontent.com/assets/8021265/8872935/f231caa6-3201-11e5-9fa1-5b7815334152.gif)

After:
![after](https://cloud.githubusercontent.com/assets/8021265/8872936/f7cd5aa2-3201-11e5-988a-a100c46aad0e.gif)

Is this intentional? If yes, why?

[2015-07-24 13:09] mikepenz commented on #487
@RubenGees this happens because of the different implementation and functionality of the RecyclerView. If an item gets selected i set the background to the selected background state. the drawable is automatically setted. So the ripple is not playing. You can see a similar behavior in the Google apps (or the ripple is playing but buggy which does not make sense either)

[2015-07-24 13:22] RubenGees commented on #487
Ahh, okay I see.

[2015-07-24 13:55] wKovacs64 commented on #487
@mikepenz I didn't notice anything else. Clicked around in API 16, 19, 21 and didn't see anything out of place. Methods are good, from my experience. I haven't used badges yet but it looks good from a preliminary glance at the changes. :+1:

[2015-07-24 17:58] mikepenz commented on #487
@wKovacs64 @RubenGees ok fixed the two bugs which were found in the previous beta.

This is the first release candidate ;)
[code]

[2015-07-24 18:22] 7bitex opened #507 "Is there a way to disable the account switcher while keeping the touch effect?"
Thanks for a great lib. However I don't need to use the account switcher, and all I need is to listen to the click event of the account header and do something else. Also when `withSelectionListEnabled(false)` is used the ripple effect of the header is lost. Any way to do so?

[2015-07-24 18:25] mikepenz commented on #507
yes just use the header and set the listener.

[code]

[2015-07-24 18:25] #507 closed

[2015-07-24 18:30] 7bitex commented on #507
@mikepenz It works! Thank you so much.

[2015-07-24 18:36] wKovacs64 commented on #487
:ship:

[2015-07-24 22:20] mikepenz commented on #487
@wKovacs64 just a bit longer to make sure everything works as expected, fast and stable ;)

[2015-07-25 05:47] Mikhail-dev opened #508 "Set icon for account"
Hello. I sure that it's trivial question, but I can not find answer.

I want change icon for IProfile. I have one IProfile in global variables and in some time, I change
   `profile.setIcon(getResources().getDrawable(R.drawable.icon));`
but this does not help for me. Then I tried to update profile
   `headerResult.updateProfileByIdentifier(profile);`
but this also doesn't help for me.

What am I d

[2015-07-25 08:15] mikepenz commented on #508
https://github.com/mikepenz/MaterialDrawer/blob/develop/app/src/main/java/com/mikepenz/materialdrawer/app/ComplexHeaderDrawerActivity.java#L156

Does your profile have an identifier set?

[2015-07-25 08:15] #508 closed

[2015-07-25 11:53] singhdd93 commented on #487
Hi
I like the refactored API but am unable to find
[code]

[2015-07-25 13:22] sanuggko commented on #495
Sorry, but I tried to update footer in v 3.1+ version, and my stiky item updated successfully =-)

[2015-07-26 03:04] anticafe opened #509 "BaseDrawerItem icon size"
I would like to use custom Drawable or Bitmap in `BaseDrawerItem.withIcon()`. Is there any size (width/height) restriction for that icon?

[2015-07-26 13:50] mikepenz commented on #509
no size restriction. but it is recommend to provide the icon with the same size as it is displayed for best performance.

[2015-07-26 13:51] #509 closed

[2015-07-26 13:54] mikepenz commented on #487
@singhdd93 this api was removed as it is not a good solution. if you really need a (custom) drawer which should be displayed below a toolbar there is a better way by defining a layout where the drawer should be set to. You can find a sample how to do this in the sample application.

See the `CustomContainerAcitvity` how you can achieve this: https://github.com/mikepenz/MaterialDrawer/blob/develop/

[2015-07-26 17:17] singhdd93 commented on #487
@mikepenz Thanks for the info. I used the drawer in that way but just wanted to confirm the removal of that method.

[2015-07-26 18:55] mikepenz commented on #487
@singhdd93 ah ok great. i have removed many methods which are not needed as there are different methods which allow you to get the desired behavior

[2015-07-26 21:30] 155martinmoreno opened #510 "How to style item texts?"
I'm trying to style the text items... any idea how?

[2015-07-26 21:31] mikepenz commented on #510
@155martinmoreno can you be a bit more specific? how do you want to style the text? of which items?

[2015-07-26 22:11] 155martinmoreno commented on #510
I'm trying to apply a style to the PrimaryDrawerItem name

[2015-07-26 22:16] mikepenz commented on #510
Please be a bit more specific. Which style? Color? Size? Typeface?

Martín Moreno <notifications@github.com> schrieb am Mo., 27. Juli 2015
00:11:

[2015-07-26 22:22] 155martinmoreno commented on #510
ok, something like this:

<style name="H1" parent="@android:style/TextAppearance.Medium">
        <item name="android:textSize">24sp</item>
        <item name="android:fontFamily">sans-serif-thin</item>
        <item name="android:textStyle">normal</item>
    </style>

[2015-07-27 05:59] mikepenz commented on #510
@155martinmoreno the typeface can be set via the api. setting the textSize can be done by overwriting the default dimen value via resource.

I would suggest if you need a custom drawerItem with custom style (which follows not the Android Design Guidelines) that you create a CustomDrawerItem by implementing the IDrawerItem interface (you can look at the PrimaryDrawerItem and modify it to your needs

[2015-07-27 05:59] #510 closed

[2015-07-27 07:46] christiandennis opened #511 "Is there a way to set toggle listener?"
I'm using this MaterialDrawer for notification. So, unseen notification will be highlighted and will be back to normal after being seen. I want to unhighlight them when the user close the notification drawer (in any way including swiping, tapping outside the drawer, back button).

Overriding the onDrawerClosed method doesn't seem possible to me since it's in DrawerBuilder. So, is there a way to do

[2015-07-27 09:55] mikepenz commented on #511
@christiandennis you can provide a `OnDrawerListener` (for getting notified if the drawer is closed/opened) or a `OnDrawerNavigationListener` (if you want to extend the behavior of closing/opening the drawer).

[2015-07-27 09:55] #511 closed

[2015-07-27 11:56] ipragmatechadmin opened #512 "Support for submenu"
Hi,

Could you suggest a way that allow me to have two level of menus in the menu. The use case is that there are multiple categories and each category have multiple subcategories. At the time of opening, only one category should be opened along with all the categories.

[2015-07-27 11:59] mikepenz commented on #512
@ipragmatechadmin this is not yet available by default. But you can somehow get this behavior if you cat cht eonClick on the `parent` DrawerItem and update the Drawer with the Additional Items (or remove them on the second click)

[2015-07-27 12:08] ipragmatechadmin commented on #512
thx for the quick reply and suggestion. I shall try it

[2015-07-27 13:07] SimonMayerhofer commented on #487
I'm trying to test rc, but I get the following error:
Error:(67, 13) Failed to resolve: com.mikepenz:materialdrawer:4.0.0.rc1-SNAPSHOT

what do I have to do?

[2015-07-27 13:10] mikepenz commented on #487
@SimonMayerhofer you have to add the Maven Snapshot repository to your repositories

[code]

[2015-07-27 13:15] SimonMayerhofer commented on #487
tried this. but I still get this error.
this is my build.gradle:
[code]

[2015-07-27 13:17] mikepenz commented on #487
@SimonMayerhofer it's there:
https://oss.sonatype.org/content/repositories/snapshots/com/mikepenz/materialdrawer/4.0.0.rc1-SNAPSHOT/

 try to add the maven repository to your root gradle.

[2015-07-27 13:25] SimonMayerhofer commented on #487
`try to add the maven repository to your root gradle. `
this did it. thanks :+1:

[2015-07-27 15:01] SimonMayerhofer commented on #487
whats the reason for removing the `getNameRes()` in the drawer items?
I used it like this:
[code]

What's your intention to check which item was clicked?

[2015-07-27 15:12] mikepenz commented on #487
@SimonMayerhofer for checking which item was clicked you should always have used the identifier you can set on a `DrawerItem` the identifier can be chosen by you. The `identifier` will get much more importance in the release of v4.0.0 (it is an int so you can still set the name resource there if you need to)

For the text you get from a DrawerItem there is now the StringHolder object which is mean

[2015-07-27 15:51] SimonMayerhofer commented on #487
@mikepenz well, thanks :)
Another question:
Can you include a possibility to use drawer items as a footer?
my drawer looks like this atm: http://c.maysi.de/c4RZ
the both items I marked should be a sticky footer.
So I would appreciate a method in the DrawerBuilder which I could use like this:
[code]

[2015-07-27 16:04] mikepenz commented on #487
@SimonMayerhofer there is :D and always as :P

[code]

[2015-07-27 16:09] SimonMayerhofer commented on #487
@mikepenz uuups :P thanks a lot!

[2015-07-27 17:23] simonckenyon commented on #487
it would be very useful if the identifier was an object rather than an int.

[2015-07-27 17:26] SimonMayerhofer commented on #487
@simonckenyon
you could use a HashMap for this :)

[2015-07-27 18:18] SimonMayerhofer opened #513 "Drawer hides on orientation change"
When I change the orientation in my app, the drawer hides. Even when I turn the phone back to the first position.
This happens in api 10, 19, and 22 devices (I didn't test others).

I create the drawer like this in the oncreate method in my MainActivitiy:
[code]

You can view the whole MainActivity here: http://c.maysi.de/c4ax
What do I do wrong?

[2015-07-27 18:20] mikepenz commented on #513
@SimonMayerhofer this works in the Sample app. Have you set something about configChanges in your manifest? or don't you store the saved instance?

[2015-07-27 18:20] mikepenz commented on #487
@simonckenyon i think you can use the `Tag` for this case.

[2015-07-27 18:21] gpulido opened #514 "Visibility of DrawerItems based on profile selected"
I'm trying to change the visibility of some items of the materialdrawer when the user selects some of the profiles on the account manager.
The IDrawerItem interface doesn't expose such method, so maybe I'm trying to do something weird.
What is the best aproach to achieve such functionallity?

PS: I know that I already have told you, but your work in this library is amazing.

[2015-07-27 18:23] mikepenz commented on #514
@gpulido there is nothing like `hidding` you should delete / add those items on demand. so you can switch out all drawerItems if you like and add them back and so on.

thanks ;)

[2015-07-27 18:26] SimonMayerhofer commented on #513
@mikepenz "Have you set something about configChanges in your manifest"
nope nothing which affects the MainActivity.

"don't you store the saved instance"
I store the saved instance state only in my fragments within the MainActivity.

[2015-07-27 18:43] mikepenz commented on #513
@SimonMayerhofer interesting. you can try the sample application and there it works. this is managed by the `DrawerLayout` itself so nothing by the lib.

I only store the last selected position in the bundle

[2015-07-27 19:15] SimonMayerhofer commented on #513
I found a solution. It's probably not the best but it works.
I created a createDrawer() method which initializes the drawer and is called in the onCreate and also in onRestoreInstanceState().

[2015-07-27 19:25] idragon81 commented on #512
One way of possibly doing this is by using switchdrawercontent
SwitchDrawerContent when clicking on primarydraweritem and in the switched drawer add a back button (That's how I am currently doing it). But yeah even i would vouch for a submenu similar to an expandableview

[2015-07-27 20:07] simonckenyon commented on #487
i was not aware of Tagable.
with that there is no real need for Identifer.
will change my code as i have two drawer item sets and was using positive and negative integers to represent them both.

[2015-07-27 21:02] SimonMayerhofer commented on #513
oh... I found the reason:
I call
[code]
( - See more at: http://c.maysi.de/c4ax)
in the onCreate method. so there is no chance to reach the code after it when there is a saved state^^

[2015-07-27 21:02] #513 closed

[2015-07-28 03:08] GYberkeley opened #515 "How do you make this work with an ActionBarDrawerToggle?"
How should the Drawer Toggle be instantiated?

Could you give me an example of what that should look like?

[2015-07-28 03:40] anticafe opened #516 "How to customize Header without AccountHeader?"
I would like to customize Header like this:
![image](https://cloud.githubusercontent.com/assets/340836/8922907/d64638bc-3513-11e5-86d6-117b6a162a7b.png)

It contains:
- An non-rounded ImageView which is app icon
- App name
- App short description (might be no description)
- There is no account switcher there

As I see, it's a standard Material Drawer design, while Material Drawer with Account Swit

[2015-07-28 04:03] MrThiago opened #517 "How to use this library with FragmentActivity ?"
get error while trying to set up toolbal. " Can not resolve method get setSupportActionBar ?

[2015-07-28 04:34] ipragmatechadmin commented on #512
In my use case, there are multiple categories with multiple subcategories so I need to hide subcategories when some other category is being clicked.

[2015-07-28 06:32] mikepenz commented on #515
@GYberkeley pass the `Toolbar` to the `DrawerBuilder`

[2015-07-28 06:32] #515 closed

[2015-07-28 06:34] mikepenz commented on #516
@anticafe can you show me the page inside the Google Material Design Guidelines where this is stated?

You can have the whole view but the non-rounded imageview with the current AccountHeader. If you want to change the header to have a non rounded image you can just overwrite the header xml (https://github.com/mikepenz/MaterialDrawer/blob/develop/library/src/main/res/layout/material_drawer_header.

[2015-07-28 06:34] #516 closed

[2015-07-28 06:35] mikepenz commented on #517
@MrThiago do you use the `AppCompatActivity`?

Beside this, this is not a MaterialDrawer bug :P

[2015-07-28 06:35] #517 closed

[2015-07-28 06:36] mikepenz commented on #512
@ipragmatechadmin the v4.0.0 will base upon a `RecyclerView` but i still don't see an easy clean solution on implementing an Exandable DrawerItem or adding some real hirachy to it.

[2015-07-28 06:36] #512 closed

[2015-07-28 06:37] #514 closed

[2015-07-28 08:15] MrThiago commented on #517
I am using a Fragments:

public class MainActivity extends FragmentActivity {...

if dont work, in that case I use AppCompatActivity.

[2015-07-28 09:47] mikepenz commented on #517
@MrThiago a fragment has no supportActionBar so why do you need it?

[2015-07-28 15:11] Fshamri opened #518 "java.lang.IllegalArgumentException: DrawerLayout must be measured with MeasureSpec.EXACTLY."
Hi,
Thanks for this awesome library, in fact, i tried to use it in my main activity but got the following error:

            at android.support.v4.widget.DrawerLayout.onMeasure(DrawerLayout.java:831)
            at android.view.View.measure(View.java:16848)
            at android.widget.ListView.setupChild(ListView.java:1932)
            at android.widget.ListView.makeAndAddView(ListView.java:185

[2015-07-28 17:56] mikepenz commented on #518
@Fshamri interesting. Which version are you using? How does your layout look like?

(you do not have to set the activity again if you already pass it via the constructor)

[2015-07-28 19:12] GYberkeley commented on #515
You're saying I should pass a Toolbar object into the DrawBuilder using withToolbar and not using withActionBarDrawerToggle?

Is that right?

Switching between Back-Arrow or Hamburger-Icon

"If you use the included ActionBarDrawerToggle you can switch between back-arrow or hamburger-icon with the following code snippet. (Please note that the order of these lines matter)"

Any way to do this with a

[2015-07-28 19:25] mikepenz commented on #515
https://github.com/mikepenz/MaterialDrawer/blob/develop/app/src/main/java/com/mikepenz/materialdrawer/app/ComplexHeaderDrawerActivity.java shows everything you need

[2015-07-28 21:36] Fshamri commented on #518
Hi,
I am using the latest version of your library along with support library v22
my activity_main layout is like:

      <LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
              xmlns:tools="http://schemas.android.com/tools"
            xmlns:app="http://schemas.android.com/apk/res-auto"
              android:layout_width="match_parent"
            android:layout_heig

[2015-07-29 05:54] mikepenz commented on #518
@Fshamri latest version is relative as there is a preview of the upcoming v4.0.0 available :D But i assume you use v3.1.2

Do you use support v22.2.1?

[2015-07-29 09:01] helmifluida opened #519 "not change drawer ? bug drawer below toolbar (newbie)"
![bug1](https://cloud.githubusercontent.com/assets/12003296/8953691/a8234e96-360a-11e5-8510-701775cb49de.png)
![bug2](https://cloud.githubusercontent.com/assets/12003296/8953718/ca6f1e9e-360a-11e5-9915-ada2197abc3f.png)

i want drawer below toolbar

What this problem ? help me mikepenz :)

[2015-07-29 09:15] Kostya1375 commented on #519
try using this one

.withDisplayBelowToolbar(true)

2015-07-29 12:01 GMT+03:00 Helmi Ismail <notifications@github.com>:

[2015-07-29 10:04] mikepenz commented on #519
@Kostya1375 this method will be removed in v4.0.0

The preferred way to implement the drawer below the toolbar is  like shown here:
https://github.com/mikepenz/MaterialDrawer/blob/develop/app/src/main/java/com/mikepenz/materialdrawer/app/CustomContainerActivity.java

@helmifluida you have to pass the activity to the builder as stated in the exception ;).

[2015-07-29 10:04] #519 closed

[2015-07-29 11:53] Kostya1375 opened #520 "Focused item"
How can i remove focus on item? Any time i open drawer one of items are focused

[2015-07-29 11:54] mikepenz commented on #520
@Kostya1375 is there no selectable item at all or what is the desired behavior?

If you want to remove the selection you can set the selection to `-1`
(https://github.com/mikepenz/MaterialDrawer#how-can-i-create-a-drawer-without-a-default-selection)

[2015-07-29 11:54] #520 closed

[2015-07-29 12:47] NorbertSzydlowski opened #521 "HTC M8 (5.0.1) SLOW PERFORMANCE"
HI,

I have got bug on one my device with slow performance while close or open drawer.

It is hanging (swipe and programmatically). It is only on this one.

Any idea how to resolve this bug?

[2015-07-29 12:52] mikepenz commented on #521
@NorbertSzydlowski depends how you implemented the Drawer. is the Sample app laggy for you?

[2015-07-29 13:22] NorbertSzydlowski commented on #521
I checked the sample app. It isn't laggy. I don't know where is problem with my app.

[2015-07-29 13:26] mikepenz commented on #521
@NorbertSzydlowski do you have icons on the DrawerItems which are not in the correct size?
Do you have a AccountHeader with a background image which is to huge? Do you have profile images which are not in the correct size?

[2015-07-29 13:48] NorbertSzydlowski commented on #521
It is problem with image in custom header.
But I don't understood why.

[2015-07-29 14:00] mikepenz commented on #521
@NorbertSzydlowski what's the size of it?

[2015-07-29 14:08] #521 closed

[2015-07-29 16:13] Fshamri commented on #518
Hi,
I use materialdrawer:3.1.2. and      'com.android.support:appcompat-v7:22.2.0

[2015-07-29 19:13] Mikhail-dev commented on #508
Deep sorry for my late reply.

Many thanks! The problem was in identifier of profile. I didn't set identifier.
But I don't understand, what did you want to tell by this link? Am I use incorrect "setIcon" ?

[2015-07-29 20:36] mikepenz commented on #518
@Fshamri have you tried to update to v22.2.1 of the appcompat?

[2015-07-29 20:37] mikepenz commented on #508
The link shows how you can set the icon and update the drawer afterwards ;)

[2015-07-30 05:52] saeedDarvish opened #522 "ActionBar Is Hidding"
When i use MaterialDrawerTheme in My App My action bar is hide, i test all of theme like MaterialDrawerTheme.Light.ActionBar,
aterialDrawerTheme.ActionBar,
 and also i have this problem ,... what am i doing ?

![gradle](https://cloud.githubusercontent.com/assets/5301170/8976593/bb6238b0-36a4-11e5-8314-0f025e2b181a.png)
![mob](https://cloud.githubusercontent.com/assets/5301170/8976594/bb640708-36a4

[2015-07-30 07:49] jasonborja commented on #141
Mike, Really like your work.  I too need a drawer item that expands to reveal other drawer items (i.e. similar to the profile selector in the accountheader section). Any chance you're rethinking your initial position on this?  OR can you provide directions on how we could extend your library to support this type of functionality?

[2015-07-30 09:43] mikepenz commented on #522
First you should not use an `ActionBar` ;) go with a `Toolbar` :D

Then i recommend that you use the latest beta release of the v4.0.0
--> https://github.com/mikepenz/MaterialDrawer/issues/487#issuecomment-124599889

So if you updated to the rc1 of the v4.0.0 beta. you should also use a ActionBar specific theme for an ActionBar activity:

Look at the SampleActivity + Manifest for this:
Manifest
ht

[2015-07-30 09:43] #522 closed

[2015-07-30 11:03] mikepenz commented on #141
@jasonborja you can still implement the logic that if you click on a DrawerItem it adds new items to the list, and you remove them on a second click. This will work.

[2015-07-30 11:14] saeedDarvish commented on #522
OK .. Thanks I found it

.
On Jul 30, 2015 2:13 PM, "Mike Penz" <notifications@github.com> wrote:

[2015-07-30 12:17] christiandennis commented on #511
Thanks! However, this works if i .Build() the drawer not doesn't work when I .append(...) the drawer.
This is the case, I have 2 drawers, one on the left (with accountHeader) and one on the right. First, I add the left_drawer using .Build() then add the right_drawer using .append(left_drawer) but the OnDrawerListener didn't work. So I do .Build() for both of the drawers. It worked perfectly except

[2015-07-30 12:19] mikepenz commented on #511
@christiandennis there was a problem with this in v3.1.2 i think i fixed this already in v4.0.0 but this version is still in beta. you can try it, but it will have some changed apis

[2015-07-30 12:24] christiandennis commented on #511
Does it fix the .Build() on both drawer or does it allow the .OnDrawerListener(...) to work even if i put it on the secondary drawer?

[2015-07-30 12:26] mikepenz commented on #511
@christiandennis you can only build the first. the second one has to be appended. and the OnDrawerListener can only be used on the first one as the first one manages the ActionBarDrawerToggle.

If you want to manage it all on your own. just don't pass the `toolbar` to the first and then open / close it with your own logic ;)

should work this way

[2015-07-30 12:47] christiandennis commented on #511
Do you mind looking at my code? I removed withOnDrawerItemClickListener to make it more readable

sliderNotification = new DrawerBuilder()
                .withActivity(this)
                .withStickyHeader(v)
                .withOnDrawerListener(new Drawer.OnDrawerListener() {
                    @Override
                    public void onDrawerOpened(View view) {
                        if (

[2015-07-30 13:04] mikepenz commented on #511
@christiandennis if you do not pass the toolbar, the MaterialDrawer won't manage the ActionBarDrawerToggle neither the Listener for you. This means you have to add the logic as you would in any normal application without this lib. Then you can manage how and when to open the drawer on your own, and it won't depend on the libs logic.

In general i would just suggest that you keep the original logic

[2015-07-30 13:24] christiandennis commented on #511
So when i set a listener to the one i add with .build() , the listener apply to both drawers? Is that right?

[2015-07-30 13:49] christiandennis commented on #511
Thanks a lot!! it works very well now.
Love your library and great support!

[2015-07-30 13:50] mikepenz commented on #511
@christiandennis great ;).

[2015-07-30 14:13] Ki41foo commented on #461
Hello. I got a shadow problem on pre-Lollipop when using gravity right. It seems the drawer still use the left shadow which has reversed gradient for right drawer. How can I fix it? Thank you.

[2015-07-30 19:27] Fshamri commented on #518
no. i will install it and try

[2015-07-30 20:51] mikepenz commented on #518
@Fshamri ok please. thanks. i never had this issue with v3.1.2 and no one else had it. so it's strange

[2015-07-30 21:14] mikepenz commented on #461
@Ki41foo it is fixed in v4.0.0 ;)

[2015-07-31 00:24] macaronlover opened #523 "Display drawer above the action bar"
Is it possible to display the drawer above the Action Bar without having to create a new toolbar from scratch?

[2015-07-31 00:26] macaronlover opened #524 "Prevent selection of drawer items completely"
Is it possible to prevent the drawer items appearing as selected/highlighted?

[2015-07-31 06:28] mikepenz commented on #523
@macaronlover no this is only possible when using a `Toolbar` you can display it only below with an `ActionBar`

[2015-07-31 06:28] #523 closed

[2015-07-31 06:29] mikepenz commented on #524
See the sample app.

Take a specific look here:
https://github.com/mikepenz/MaterialDrawer/blob/develop/app/src/main/java/com/mikepenz/materialdrawer/app/SimpleHeaderDrawerActivity.java#L107

`withCheckable(false)`

[2015-07-31 06:29] #524 closed

[2015-07-31 13:08] macaronlover commented on #524
I've used exactly the same code you suggested but for some reason it doesn't work on my app, here's my code + a screenshot:
![screen shot 2015-07-31 at 14 06 47](https://cloud.githubusercontent.com/assets/12353505/9007866/663b9a18-378d-11e5-8c92-9919fd401ef9.png)

        AccountHeader headerResult = new AccountHeaderBuilder()
                .withActivity(getActivity())
                .withCompa

[2015-07-31 13:14] RubenGees commented on #487
I may have found a bug:

I have 2 sections:
One with ```.withDrawerItems() ``` and one with ```.withStickyDrawerItems()```.

After an orientation change I build the drawer with ```.withSavedInstance(savedInstanceState)```. If the currently selected item is from the first section, the drawer will remind if it was open and will remain open after an orientation change. Just as expected. But if the cu

[2015-07-31 13:15] Kostya1375 commented on #524
https://github.com/mikepenz/MaterialDrawer/issues/520

[2015-07-31 13:30] macaronlover commented on #520
There is no touch feedback appearing on my device when I select an item. How do I fix that?

        AccountHeader headerResult = new AccountHeaderBuilder()
                .withActivity(getActivity())
                .withCompactStyle(true)
                .withHeaderBackground(R.color.wc)
                .withProfileImagesVisible(false)
                .withTextColor(Color.parseColor("#FFFFFF"))

[2015-07-31 14:34] macaronlover commented on #524
There is no touch feedback appearing on my device when I select an item. How do I fix that?

        AccountHeader headerResult = new AccountHeaderBuilder()
                .withActivity(getActivity())
                .withCompactStyle(true)
                .withHeaderBackground(R.color.wc)
                .withProfileImagesVisible(false)
                .withTextColor(Color.parseColor("#FFFFFF"))

[2015-07-31 16:36] mariem16 opened #525 "Profile header Switching ="
hi, how can i please disable Profile header switching.
"withAlternativeProfileHeaderSwitching(false)" doesn't work.
Actually, i want use Account header profile with one account

[2015-07-31 18:31] macaronlover opened #526 "How to use back press feature in a fragment"
How can I use the back press code within a fragment in order to close the drawer?

    @Override
    public void onBackPressed() {
        //handle the back press :D close the drawer first and if the drawer is closed close the activity
        if (result != null && result.isDrawerOpen()) {
            result.closeDrawer();
        } else {
            super.onBackPressed();
        }
    }

[2015-07-31 20:14] RubenGees commented on #526
Use a interface connection between your activity and your fragment. This is how I do it:

In Activity:
[code]

The interface:
[code]

In Fragment:
[code]

All my Fragments implement the Listener and each decides on it own, what shuold happen.

[2015-07-31 21:43] mikepenz commented on #526
@macaronlover as stated by @RubenGees you have to pass this to the activity and trigger the action there. you will find enough topics on the web how to do this, but @RubenGees answer is already very detailed

[2015-07-31 21:43] #526 closed

[2015-07-31 21:44] mikepenz commented on #525
https://github.com/mikepenz/MaterialDrawer/issues/454

[2015-07-31 21:44] #525 closed

[2015-08-01 00:17] macaronlover opened #527 "Feedback not occurring when item is clicked"
For some reason no feedback is shown whenever I select an item. Why does this happen & how can this issue be resolved?

        headerResult = new AccountHeaderBuilder()
                .withActivity(getActivity())
                .withCompactStyle(true)
                .withHeaderBackground(R.color.wc)
                .withProfileImagesVisible(false)
                .withTextColor(Color.parseColo

[2015-08-01 08:59] mikepenz commented on #527
@macaronlover which Android Version, which library version, what do you mean with no feedback?

[2015-08-01 09:50] macaronlover commented on #527
I tested it on a Lollipop device.

[2015-08-01 09:50] mikepenz commented on #527
@macaronlover so what do you expect to happen? and which library version you use?

[2015-08-01 11:59] macaronlover commented on #527
I expect a ripple effect at least to happen when I tap and hold an item. I'm using version 3.1.2.

[2015-08-01 15:39] mikepenz commented on #527
@macaronlover i can't see any problems why this should work in your case? probably you use the wrong theme?

[2015-08-01 15:39] #527 closed

[2015-08-01 16:09] macaronlover commented on #527
My theme is Theme.AppCompat

[2015-08-01 16:11] mikepenz commented on #527
@macaronlover when you don't use an MaterialDraewr theme as suggested you will have to provide the color values on your own: https://github.com/mikepenz/MaterialDrawer#style-the-drawer

if you don't do this it will use default values. and i assume those are the wrong colors for your application as you don't see the ripple effect

[2015-08-01 16:17] macaronlover commented on #527
So do I basically put this code in styles.xml?:
    <style name="CustomTheme" parent="AppTheme">

        <item name="colorPrimary">@color/material_drawer_primary</item>
        <item name="colorPrimaryDark">@color/material_drawer_primary_dark</item>
        <item name="colorAccent">@color/material_drawer_accent</item>

        <item name="material_drawer_background">@color/material_drawer_backgro

[2015-08-01 16:19] mikepenz commented on #527
@macaronlover you only have to add the items which are prefixed with `material_drawer_*`
depending on your theme it will require the correct colors.

Just a question. Why don't you just use a MaterialDraewr theme? it is based on the appcompat theme and is compatible with all api levels down to 10?

[2015-08-01 16:22] macaronlover commented on #527
My app supports API 17+, never heard of that theme tbh

[2015-08-01 16:22] mikepenz commented on #527
Everything stated in the README ;)
https://github.com/mikepenz/MaterialDrawer#androidmanifestxml

here are all themes listed

[2015-08-01 16:58] macaronlover commented on #527
OK, THAT has solved the problem so many thanks for that.

[2015-08-01 17:07] macaronlover opened #528 "How to hide account header"
How can I hide the account header? I've created the code below but I don't want the account header to be showing during runtime. The solution is 'headerResult.?' where the question mark is replaced by something but I don't know what.

        headerResult = new AccountHeaderBuilder()
                .withActivity(getActivity())
                .withHeaderBackground(R.color.red)

                .a

[2015-08-01 17:08] mikepenz commented on #528
If you don'T have an header jsut don'T create it and pass it to the drawer?

[2015-08-01 17:14] macaronlover commented on #528
I want my header to appear on phones but not on tablets

[2015-08-01 17:21] mikepenz commented on #528
Then just check in an `if`?

If you are on a phone do not add it. if you are on a tablet add it?

[2015-08-01 17:27] macaronlover commented on #528
if (mTwoPane){
?
} else {
?
}

[2015-08-01 17:31] mikepenz commented on #528
if you want the header add it to the drawer if not don't add it. i do not get your question? if you have trouble with java things, please try to search via Google

[2015-08-01 17:37] macaronlover commented on #528
Both my tablet and phone are using a fragment rather than activity for phones & fragment for tablets

[2015-08-01 17:38] mikepenz commented on #528
but the drawer should be created in the activity (as shown in the samples) and in the activity you can decide what to do

[2015-08-01 17:39] macaronlover commented on #528
My tablet uses fragments from a master detail flow hence it is easier to have the code in a fragment.

[2015-08-01 17:46] mikepenz commented on #528
you have many possibilities, but i do not see this as MaterialDrawer issue as the functionality works and everything is fine.

[2015-08-01 17:47] #528 closed

[2015-08-01 17:58] macaronlover commented on #528
Activities are not being used on tablets for my detail flow so where am I supposed to put that code? I placed it in the fragment code.

Can't I use headerResult.hide or something like that?

[2015-08-01 18:09] mikepenz commented on #528
i repeat it again. if you don't need a header don't add it. if you need it add it. you can theoretically remove the header view from the drawer, but this is normally not done.

there is a method called `removeHeader()`

[2015-08-01 18:16] macaronlover opened #529 "How to remove line above section header title"
How can the line that appears above the SectionDrawerItem text be removed?

![screen shot 2015-08-01 at 19 10 13](https://cloud.githubusercontent.com/assets/12353505/9022982/89c98450-3881-11e5-9873-697a8dddf7ec.png)

[2015-08-01 18:17] mikepenz commented on #529
@macaronlover as of the Material Design Guidelines a Section has a divider line.

Perhaps this method helps you: https://github.com/mikepenz/MaterialDrawer/blob/develop/library/src/main/java/com/mikepenz/materialdrawer/model/SectionDrawerItem.java#L56

[2015-08-01 18:17] #529 closed

[2015-08-01 18:19] macaronlover commented on #528
I know but based on the code I have, it is more efficient for me to open fragments + couldn't find 'removeHeader()' for some reason. Either way I'll take what you mentioned on board.
![screen shot 2015-08-01 at 19 18 13](https://cloud.githubusercontent.com/assets/12353505/9023008/25e91e7c-3882-11e5-97ab-0798dfc2d731.png)

[2015-08-01 18:21] mikepenz commented on #528
the `removeHeader` method only exists on the result of the drawer

[2015-08-01 18:51] macaronlover commented on #529
Cool. Problem solved. Many thanks again Mike :-) :+1:

[2015-08-01 18:59] macaronlover commented on #528
Hmmmm OK. Does the method go with the DrawerBuilder properties or somewhere else?

![screen shot 2015-08-01 at 19 58 27](https://cloud.githubusercontent.com/assets/12353505/9023156/c58a07ca-3887-11e5-920b-fa187b625892.png)

[2015-08-01 19:02] mikepenz commented on #528
on the result

[2015-08-01 19:04] macaronlover commented on #528
Just to clarify, where is that?

[2015-08-01 19:04] mikepenz commented on #528
the variable called `result` in your code?

[2015-08-01 19:07] macaronlover commented on #528
Cool. I thought so :-) Many thanks

[2015-08-01 19:15] macaronlover commented on #528
It doesn't hide the hide/remove the header but I'll look into it.

        if (mTwoPane){
            result.removeHeader();
        } else {

        }

[2015-08-01 19:24] macaronlover commented on #528
I've almost got it. When using this method the header is removed but I don't know what to use to keep the header.

        if (mTwoPane){
            result.removeHeader();
        } else {
            result.removeHeader();
        }

[2015-08-01 19:40] mikepenz commented on #528
why you remove it in both cases?

[2015-08-01 19:50] macaronlover commented on #528
Sorry, wrong code, I've updated it now

[2015-08-01 19:50] macaronlover commented on #528
if (mTwoPane){
            result.getHeader();
        } else {
            result.removeHeader();
        }

[2015-08-01 19:51] mikepenz commented on #528
@macaronlover why do you try to getHeader from the result when you aren't going to use it?

[2015-08-01 19:57] macaronlover commented on #528
It was just a guess. All I'm aiming to do is show the header.

[2015-08-01 19:58] mikepenz commented on #528
either you add the header and show it, or you remove it. i don't see what you are trying? if you removed it, it won't be shown. if you don't it will be shown.

[2015-08-01 20:00] macaronlover commented on #528
I only want to show the header on two pane devices

[2015-08-01 20:14] macaronlover commented on #528
Please have a look at these two classes when you can (the fragment class is for tablets and the activity class is for phones) and see if you can figure out what is wrong and/or what needs changing.

http://pastebin.com/V3U8Z793

http://pastebin.com/SFveHN9k

[2015-08-01 21:43] tux-world opened #530 "right to left AccountHeaderBuilder"
why this class dont have setting right to left drawer ?

thanks

[2015-08-01 22:16] mikepenz commented on #530
@tux-world right left is automatically done. if the phone is rtl the drawer is content is rtl. gravity should be set GravityCompat.START by you

[2015-08-01 22:16] #530 closed

[2015-08-01 22:18] mikepenz commented on #528
I don'T see why you just don't do the drawer in the activity (which is suggested and highly recommended)
and i don't understand why you have to add the header and then remove it, wouldn't it be beetter if you don't create it at all if you don't need it?

[2015-08-01 23:05] tux-world commented on #530
​my phone is ltr and i want to force that to rtl. i'm using ltr direction
on phone but i like to my application support force rtl. and user dont
change phone language to rtl to view correctly my application​

[2015-08-01 23:08] mikepenz commented on #530
Then see following two lines:
https://github.com/mikepenz/MaterialDrawer/blob/develop/app/src/main/AndroidManifest.xml#L11
https://github.com/mikepenz/MaterialDrawer/blob/develop/app/src/main/java/com/mikepenz/materialdrawer/app/SimpleHeaderDrawerActivity.java#L49

[2015-08-01 23:14] tux-world commented on #530
thants not good for android >14

[2015-08-01 23:14] mikepenz commented on #530
@tux-world there was no RTL support on earlier devices

[2015-08-01 23:51] mikepenz commented on #487
@RubenGees thanks for reporting this behavior. very interesting as this is managed by the DrawerLayout itself. i will check if i can fix this. if not, it should be an acceptable misbehavior which won't be seen by many people. it's a very special case :D

[2015-08-02 00:03] mikepenz commented on #487
@RubenGees thanks again for the awesome founding :D fixed it ;)

here's another RC build
- This one comes with cleaned up Android-Iconics (only the core) so you can choose which icons to use,
- Some more fixes
- And your issue fixed ;)

[code]

[2015-08-02 00:06] RubenGees commented on #487
Great! That was fast :+1:

[2015-08-02 00:07] mikepenz commented on #487
@RubenGees preparing everything for the release ;). so yeah. I hope everything else is also fine on your side?

[2015-08-02 00:33] RubenGees commented on #487
Yes, looks good to me. Great stability for a beta-version :D

[2015-08-02 00:47] knseir opened #531 "Layout appears under translucent Action bar"
Hi,

For some reason, the layout is UNDER the action bar when I use material drawer.

The layout is set to
[code]
And This is the code for the drawer:
[code]
The activities all extend ```ActionBarActivity```

I can't understand why this is happening :

![screenshot_2015-08-02-04-20-12](https://cloud.githubusercontent.com/assets/10488165/9024118/ddc401d0-388a-11e5-8e0d-b26c73f686dc.png)

The proble

[2015-08-02 09:20] mikepenz commented on #531
@knseir you have your app with a `Toolbar` or with an `ActionBar` ?

[2015-08-02 10:59] mikepenz commented on #487
I need your decision on the shadow for StickyFooter and StickyHeader.
Shadow, Yes/No? How many dp?

Also i want to know if i should add the `updateBadge`, `updateName`, `updateIcon` back?

[2015-08-02 12:26] Rainer-Lang commented on #487
Like discussed before: Sticky header => elevation 4dp

[2015-08-02 12:58] macaronlover commented on #528
When I create it in the activity, it doesn't appear on the tablet as it opens a fragment not an activity + no, it wouldn't be better because I only want the header to appear on phones and NOT on tablets.

PHONES: Drawer only
TABLETS: Drawer + Header

Have a look at my activity and fragment codes below and you'll see what I meant:
http://pastebin.com/hteZApWF
http://pastebin.com/9tsPxs6y

[2015-08-02 14:47] knseir commented on #531
I'm using an action bar. The activities all extend actionBarActivity
let me know if I can provide you with more info,
Thank you

[2015-08-02 15:13] mikepenz commented on #531
@knseir which theme are you using?

See a sample here:
https://github.com/mikepenz/MaterialDrawer/blob/develop/app/src/main/java/com/mikepenz/materialdrawer/app/ActionBarDrawerActivity.java
https://github.com/mikepenz/MaterialDrawer/blob/develop/app/src/main/AndroidManifest.xml#L28

[2015-08-02 15:13] #531 closed

[2015-08-02 15:13] #518 closed

[2015-08-02 15:21] knseir commented on #531
Ok great
Thanks !
So i should implement

android:theme="@style/MaterialDrawerTheme.ActionBar" />

Is it also necessary to extend appComparActivity ?

[2015-08-02 15:22] mikepenz commented on #531
@knseir correct ;).

Yes it is highly recommended, as this theme  extends the AppCompat theme, and this one should be used in an AppCompatActivity

[2015-08-02 15:24] knseir commented on #531
Ok thanks again
I'm sorry about the question I know I should  read the documentation but didn't find anything about this
So i assumed there was something wrong with my code

[2015-08-02 15:30] mikepenz commented on #531
@knseir i tried to have all possibilities in the sample ;) you can download and install it.

[2015-08-02 16:24] macaronlover opened #532 "Remove shadow underneath action bar on pre-Lollipop"
After implementing your nag drawer, I've noticed a shadow appearing underneath the action bar on the pre-Lollipop emulator. How can I remove the shadow that appears underneath the Action bar on pre-Lollipop? For some reason it appears on pre-Lollipop despite setting the elevation to 0.

![screen shot 2015-08-02 at 16 26 02](https://cloud.githubusercontent.com/assets/12353505/9026911/8d2ef578-3938-

[2015-08-02 17:51] mikepenz commented on #532
@macaronlover the MaterialDrawer does not change the behavior of the ActionBar / Toolbar. please use google to find answers to this problem.

My assumption is that this is default and can't be altered easily. --> Switch to a `Toolbar` which will allow you to manage this on your own

[2015-08-02 17:51] #532 closed

[2015-08-02 17:56] mikepenz commented on #487
[code]

[2015-08-02 18:13] knseir commented on #531
Hi Again,

So I forgot to mention I was going for a translucent action and status bars

Here's what I tried:

1) when I change the activity theme to ```android:theme="@style/MaterialDrawerTheme.ActionBar``` in the manifest
- I solve the problem that the layout is under the action bar
- BUT I get a coloured status and action bar

2) In ```styles.xml```, I create this new theme :
[code]
I inherit fr

[2015-08-02 18:16] mikepenz commented on #531
@knseir i'm afraid that you will have to switch to a `Toolbar` if you want the drawer below the StatusBar and over the Toolbar.

It is not possible to have the drawer above the ActionBar. (or i haven't found a solution for this)

in case you will get it to work with an actionbar. to get your layout below the actionBar you can use the UIUtils class to get the ActionBar height and the StatusBar heig

[2015-08-02 21:08] macaronlover commented on #532
Cool. Problem solved - just switched to the toolbar widget. Is it possible to have the nag drawer underneath the toolbar itself? Here's my code so far:

        result = new DrawerBuilder()
            .withActivity(this)
            .withToolbar(mToolbar)
            .withTranslucentStatusBar(false)
            .withActionBarDrawerToggle(false)
            .withSelectedItem(-1)
            .addDr

[2015-08-02 21:09] mikepenz commented on #532
Shown in this example: https://github.com/mikepenz/MaterialDrawer/blob/develop/app/src/main/java/com/mikepenz/materialdrawer/app/CustomContainerActivity.java

[2015-08-02 21:09] mikepenz commented on #532
But it's not Material Design Guideline conform

[2015-08-02 21:12] macaronlover commented on #532
What do you mean by that? It is not recommended?

[2015-08-02 21:12] mikepenz commented on #532
The Google Material Design Guidelines state that the drawer should be full height

[2015-08-02 21:13] mikepenz commented on #532
https://www.google.com/design/spec/patterns/navigation-drawer.html#

[2015-08-02 21:14] macaronlover commented on #532
Oh OK, cool. Many thanks Penz. Btw Penz sounds European. Are you multilingual? :-)

[2015-08-02 21:15] mikepenz commented on #532
I am from Austria :P

[2015-08-02 21:20] macaronlover commented on #532
Cool. How does it feel to speak more than one language (I do also)?

[2015-08-02 21:46] macaronlover commented on #532
Cool. Btw what does .withTextColorRes() do?

[2015-08-02 22:35] macaronlover opened #533 "Ripple effect not working on Lollipop despite setting appropriate theme"
For some reason the ripple effect doesn't work on Lollipop when I click a drawer item. It does work on pre-Lollipop but not on Lollipop. any idea why?

<resources>

    <style name="AppTheme" parent="Theme.AppCompat">
    </style>

    <style name="BakerlooHDNTheme" parent="MaterialDrawerTheme">
        <item name="android:windowNoTitle">true</item>
        <item name="windowActionBar">false</item

[2015-08-02 22:38] mikepenz commented on #533
https://github.com/mikepenz/MaterialDrawer/issues/527

[2015-08-02 22:38] #533 closed

[2015-08-03 06:13] engividal opened #534 "Problem Item Selected"
I'm having trouble on the selected item. It does not alter the background in my program. When used your demo it works.
![am3spbzqn6fetsac3emek6ulmunuvjglxcg618bbl7p2](https://cloud.githubusercontent.com/assets/396722/9031745/3b10768e-3985-11e5-9900-842cf1939919.jpg)

since already I appreciate the help!!!

[2015-08-03 06:16] mikepenz commented on #534
@engividal you mean the selected state does not work? have you set `withCheckable(false)`? remove this

[2015-08-03 06:16] #534 closed

[2015-08-03 12:46] macaronlover commented on #527
I've exactly specified the theme of your project and it STILL doesn't work on Lollipop

[2015-08-03 13:05] mikepenz commented on #527
I am sure you mix up light, and normal style

[2015-08-03 14:02] macaronlover commented on #527
I don't think I did. Here's my code (I'm really am lost now):

AndroidManifest.xml

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"

[2015-08-03 15:06] mikepenz commented on #527
@macaronlover there is already a theme without an ActionBar just use `MaterialdrawerTheme` :D

You also don't overwrite any color values in your xml's?

[2015-08-03 15:10] macaronlover commented on #527
When you said "You also don't overwrite any color values in your xml's?", does this include colours within the nav drawer?

[2015-08-03 16:25] macaronlover commented on #527
OK, found the problem. I overwrote some colour vales hence changed those back to default and the effect now works. Many thanks :-)

[2015-08-03 16:38] macaronlover commented on #497
Can it be specified with the declaration 'new SectionDrawerItem().(...)' where the ellipsis is where the multiline feature is specified - e.g. new SectionDrawerItem().withMultiline(true)?

[2015-08-03 16:39] mikepenz commented on #497
@macaronlover if you need Custom DrawerItem's you can implement your own CustomDrawerItem. See the sample for an example

[2015-08-03 16:42] macaronlover commented on #497
I've created a duplicate class of the link below in my project but I don't know which parts need to change in order to enable multiline. I can't see any properties in that code relating to the maximum number of lines allowed.

https://github.com/mikepenz/MaterialDrawer/blob/develop/library/src/main/java/com/mikepenz/materialdrawer/model/SectionDrawerItem.java

[2015-08-03 16:44] mikepenz commented on #497
This class inflates a layout. I'm sure you can find it out on your own

[2015-08-03 16:47] macaronlover commented on #497
OK, I found it will get back to you.

[2015-08-03 16:59] macaronlover opened #535 "How to declare custom drawer item"
I've created a custom section drawer item but don't how do I declare it with the java of Drawer builder. My xml is called 'material_drawer_item_section_multiline.xml' and my java is called 'SectionDrawerItemMultiline.java'

XML: http://pastebin.com/n7iDibhj
Java: http://pastebin.com/PS2zN07y

[2015-08-03 16:59] mikepenz commented on #535
Just use it

[2015-08-03 17:01] macaronlover commented on #535
All I can think of is 'new SectionDrawerItemMultiline()' which I know is wrong hence I don't know what the right way of doing it is.

[2015-08-03 17:02] mikepenz commented on #535
It is correct. If you have modified it correctly it will just work.

[2015-08-03 17:06] macaronlover commented on #535
OK, this time it worked. I had to sync & rebuild my project so thanks for your help.

[2015-08-03 17:11] engividal commented on #534
I solved my problem.
Thanks @mikepenz.

[2015-08-03 17:11] mikepenz commented on #534
Great :). What was the issue?

[2015-08-03 17:11] #535 closed

[2015-08-03 17:12] engividal commented on #534
I remove withCheckable(false).

[2015-08-03 19:13] macaronlover commented on #526
After using the code suggested by @RubenGees in exactly the right classes as necessary, I get this error: 'Method does not override method from its superclass' + I get this warning: 'Method 'onBackPressed()' is never used' Also the 'o' is OnBackPressedListener is supposed to be lowercase.

[2015-08-03 19:49] RubenGees commented on #526
Interesting. Maybe there is a typo in my code or something. Try to delete the Method and let Android Studio auto-complete it for you. (Alt+Enter)

[2015-08-03 21:49] macaronlover commented on #526
Still no difference. Please check your code and edit it as necessary. Here are my screenshots:
![screen shot 2015-08-03 at 22 46 39](https://cloud.githubusercontent.com/assets/12353505/9048514/afc0f538-3a31-11e5-926f-4eeffa481888.png)
![screen shot 2015-08-03 at 22 47 02](https://cloud.githubusercontent.com/assets/12353505/9048513/afb9a062-3a31-11e5-9c87-4dae89bbb593.png)

[2015-08-03 22:10] RubenGees commented on #526
Okay, I'll have a look at it tomorrow.

[2015-08-03 22:12] macaronlover commented on #526
Cool

[2015-08-03 22:19] RubenGees commented on #526
One thing I see is, that the brackets are missing at the call in your Activity. Try onBackPressedListener.onBackPressed();

Do you implement the interface correctly? Try to use a fully qualified declaration in your Fragment: implements YourActivity.onBackPressedListener

On a side note: Classes and interfaces are declared with a upper-case letter. Only if you use them (Declare them as a field) you

[2015-08-03 23:09] macaronlover commented on #526
Tried it but I get this
![screen shot 2015-08-04 at 00 08 38](https://cloud.githubusercontent.com/assets/12353505/9049709/17e4b63a-3a3d-11e5-9c1b-b1b9abb6843b.png)

[2015-08-04 06:16] mikepenz commented on #526
@macaronlover you named your interface `onBackPressedListener` note the lowerCase `o`? You need somewhere the implementation of this interface and keep the reference to the implementation. the implementation is then called from inside the activity with the `onBackPressedListener.onBackPressed()` with the `onBackPressedListener` being the implementation of the current active fragment. (in this case

[2015-08-04 06:33] githubbucah commented on #157
Hi, when I switch to another account, the info changes but account header stays the same. Can you say why? Thanks

[2015-08-04 06:36] mikepenz commented on #157
@githubbucah you should open a separat issue for this.

[2015-08-04 08:27] Aabidi09 opened #536 "How to customise ToggleDrawerItem ?"
Hi, i'm using your library and i want to further customize the ToggleDrawerItem, but i can seem to find how to change the Text for "On/Off". In normal ToggleButtons we have the "setTextOn" and "setTextOff" methods

[2015-08-04 08:56] githubbucah opened #537 "Problem setting dynamic number of accounts"
Number of accounts depends on boolean method in my case. But while building the AccountHeader I can't put if-else statement before build() method of AccountHeader.

Can you help me to do this? Thanks.

[2015-08-04 09:41] mikepenz commented on #536
@Aabidi09 if you need a different text you will have to create your own CustomDrawerItem with the modified behavior. (Copy the ToggleDrawerItem and modify it ;))

[2015-08-04 09:41] #536 closed

[2015-08-04 09:43] mikepenz commented on #537
@githubbucah you can have the variable AccountHeaderBuilder and split the builder thing up in multiple parts. But this is normal java stuff ;). You can find enough information about this on Google or StackOverFlow

[2015-08-04 09:43] #537 closed

[2015-08-04 11:25] githubbucah commented on #537
That's where I have problem. Splitting the code won't work. When I split the code, it says that it requires AccountHeaderBuilder unless I don't write build() at the end of it.

[2015-08-04 11:38] christiandennis opened #538 "Is there a way to programmatically click or select a profile in account header?"
I think .setActiveProfile(identifier, true) should do it but somehow it does not.

[2015-08-04 11:39] mikepenz commented on #537
@githubbucah please use Google or Stackoverflow to find out basic programming questions.

Just as a hint. .build() will return an AccountHeader, before build its an AccountHeaderBuilder. you can split it up.

[2015-08-04 11:40] mikepenz commented on #538
@christiandennis yes if you have set an identifier for the profile this will work

[2015-08-04 11:53] christiandennis commented on #538
@mikepenz it does highlight the profile that i pass into the identifier but does not trigger the .withOnAccountHeaderListener() method. How do i trigger it programmatically?

[2015-08-04 13:25] christiandennis commented on #538
@mikepenz it actually triggered the listener. sorry, my bad. But i notice something weird.

Lets say I have 3 profiles: profile1, profile2, and profile3.
Then I do .setProfiles(profiles) which consist of profile1, profile2, profile3, profile4.
And do .setActiveProfile(profile1).
The accountHeader stays opened and clickable but the listener is not triggered.
Is this a bug? Or I shouldn't add new pr

[2015-08-04 13:27] mikepenz commented on #538
@christiandennis i will take a look later.

if you pass true with the setActiveProfile it should trigger .setActiveProfile(profile1, true).

It will trigger the mOnAccountHeaderListener.onProfileChanged

[2015-08-04 17:17] mikepenz commented on #538
@christiandennis did you try it with the boolean? for me it's working

[2015-08-04 17:17] #538 closed

[2015-08-04 17:33] RubenGees commented on #487
Whoa, the shadow looks really cool! :+1:

[2015-08-04 17:38] mikepenz commented on #487
@RubenGees thanks ;)

@ everyone. Please test this one really good again. (also probably RTL). I hope that this one is the last RC, before going FINAL.

[code]

[2015-08-05 03:23] christiandennis commented on #538
@mikepenz I just notice that the listener that's not working is the drawer's onItemClickListener. Inside the accountHeaderListener I do setSelectionByIdentifier for the drawer. I suspect the onItemClickListener doesn't work because the accountHeader stays opened.

In my program, when some event happened, I need to clear all the current profiles and put the new profiles. I do this by setProfiles bu

[2015-08-05 06:53] Dokuzov commented on #487
.withSelectedItem(-1) - doesn't work . Whenever drawer is opened the first item is always selected , or did i fuck something up?

[2015-08-05 08:25] mikepenz commented on #487
@Dokuzov

[code]

What do you mean whenever the drawer is opened? do you have any code which manipulates the selected item?

`.withRemeberLastSelectedProfile()` --> I already keep the information stored over configuration changes and if the application resumes. I think it should be easy if you just also store the information. The thing is that i assume, that you already have to do any action if a

[2015-08-05 08:52] Dokuzov commented on #487
Selection can't be -1 by default?Anyway this worked.
As of profile, i thought about it , but if you it won't be too much work for you, yes, String identifiers would be perfect for the case and not only.Great work and fast response, keep it up.

[2015-08-05 12:53] lectricas opened #539 "how to implement small header"
like on 3-d screenshot you provided. Thanks

[2015-08-05 14:31] mikepenz commented on #539
https://github.com/mikepenz/MaterialDrawer/blob/develop/app/src/main/java/com/mikepenz/materialdrawer/app/SimpleCompactHeaderDrawerActivity.java

[2015-08-05 14:31] #539 closed

[2015-08-05 14:56] rpalsaxena opened #540 "Unable to use library in eclipse"
Hello everyone
I am trying to use MaterialDrawer library
Currently,My androidstudio is not working properly
So, I am using eclipse
I downloaded project aar file then converted it to jar file
added it in libs folder
When i added this

new DrawerBuilder().withActivity(this).withTranslucentStatusBar(false)
.withActionBarDrawerToggle(false).addDrawerItems(
// pass your items here
).build();

So, I am

[2015-08-05 14:57] mikepenz commented on #540
@rpalsaxena no support for eclipse

[2015-08-05 14:57] #540 closed

[2015-08-06 05:32] christiandennis commented on #538
@mikepenz is there any way i could programmatically close the account header drop down?

[2015-08-06 07:02] mikepenz commented on #538
@christiandennis yes that's true as long as you are switched to the profiles view you can't change the selection fro the other view.

why the accountheader opens is strange. should not happen. but yeah there's the option to toggle the header drop down: `toggleSelectionList()`

[2015-08-06 07:41] lectricas opened #541 "How to implement customDrawerItem."
Hi, I want to change custom icon size in primaryDrawerItem. I heard that I can do that with customDrawerItem. Can you show me how I can do that?
Sorry for my silly questions.

[2015-08-06 08:04] mikepenz commented on #541
You can look at the `PrimaryDrawerItem`. (For a custom drawerItem you can use it's source as base)

https://github.com/mikepenz/MaterialDrawer/blob/develop/library/src/main/java/com/mikepenz/materialdrawer/model/PrimaryDrawerItem.java

and at it's layout
https://github.com/mikepenz/MaterialDrawer/blob/develop/library/src/main/res/layout/material_drawer_item_primary.xml

Just create a layout and th

[2015-08-06 08:04] #541 closed

[2015-08-06 10:34] FabianTerhorst commented on #487
is it possible to set a animation drawable inside the drawer item icon? Before v4 i used the setIcon method and set a animation drawable inside then drawer item. To start the animation i used ((AnimationDrawable) statusItem.getDrawable()).start(), but with v4 ((AnimationDrawable).statusItem.getIcon().getIcon()).start() doesn´t work.

[2015-08-06 12:39] FabianTerhorst commented on #487
Another question
.withCloseOnClick(false) doesn´t work when i use it inside the MiniDrawerExample. Is this a bug or is there another way to do it?

[2015-08-06 12:45] FabianTerhorst commented on #487
And last but not least. It looks like that .withTranslucentStatusBar(true) doesn´t set a top padding to the content when using translucent status bar theme inside MiniDrawerExample. So that the toolbar is inside the statusbar.

[2015-08-06 13:46] FabianTerhorst commented on #487
new ProfileDrawerItem()....withEnabled(false) doesn´t disable the profile drawer item inside the mini drawer.

[2015-08-06 15:04] vanza opened #542 "update drawer item from the thread"
Hi! How can i update drawer item (badge) from the running thread or asynctask? Thanks in advance.

[2015-08-06 15:08] mikepenz commented on #542
@vanza you can't update the ui from a thread. just from the ui thread

[2015-08-06 15:09] #542 closed

[2015-08-06 15:20] vanza commented on #542
I appeal to the main thread via handler or onPostExecute. I mean is it possible to call drawerResult in this manner.

[2015-08-06 16:01] mikepenz commented on #542
as long as you update the ui via the main thread it is ok.

[2015-08-06 18:29] deinok commented on #487
https://developer.android.com/tools/data-binding/guide.html?utm_campaign=android-studio-1-3&utm_source=dac&utm_medium=blog

It can help you with the findViewById, it seems that showing a view with this library is more eficient, and its easy to implement in your library

[2015-08-07 17:33] Aabidi09 commented on #536
Works like a charm, Thank you very much !

[2015-08-08 18:43] macaronlover opened #543 "Grab activity nav drawer from fragment"
It is possible to use an activity's nav drawer from a fragment? I've created a nav drawer in an activity but want the fragment class to use the same nav drawer along with it back press capabilities.

[2015-08-09 01:36] adamgrieger commented on #487
Hi, I may have found a bug although I am not entirely sure:

Essentially, when building an AccountHeader, if there are no ProfileDrawerItems, but there are ProfileSettingDrawerItems, the application will crash when AccountHeaderBuilder().build() is called. I started building my application with MaterialDrawer 3.1.2, and I don't remember running into that problem until testing out MaterialDrawer 4.

[2015-08-09 07:15] deinok commented on #543
yes, it is posible, please post the code or a more specific exemple

[2015-08-09 09:19] marinica94 opened #544 "MaterialDrawer may cause crash on pre L Devices"
I have updated my appcomat, android studio, gradle and all other stuffs to last version and on pre L devices I get the following error:

08-09 11:31:36.037  24120-24120/com.example E/AndroidRuntime﹕ FATAL EXCEPTION: main
    Process: com.example, PID: 24120
    java.lang.NoClassDefFoundError: android.support.v7.appcompat.R$layout
            at android.support.v7.app.AppCompatDelegateImplV7.ensure

[2015-08-09 09:30] artemkutukov opened #545 "Problem with buildView()"
Hi Mike! I have a problem with create MaterialDrawer in landscape. But in version 3.0.8 all is well !

[code]

[code]

[2015-08-09 15:46] markdwags opened #546 "Question: Dynamic switching and enabling SwitchDrawerItem"
I've been attempting to dynamically change the SwitchDrawerItem.  I can step through my code and see this successfully hit the code that you'd think would make the change, but the UI state of the switch doesn't change.

I initialize it in a disabled, unchecked state.

    mFavoriteSwitch = new SwitchDrawerItem()
                .withName("Show As Favorite")
                .withIcon(new IconDrawab

[2015-08-09 18:04] #544 closed

[2015-08-09 18:17] Mikhail-dev opened #547 "Conflict with colors (com.android.support:design)"
Hello Mike!

I have a little problem. I wanted to use TabLayout. I added com.android.support:design library and then I have got conflict with "insetForeground" color (Attribute "insetForeground" has already been defined). How can I resolve carefully this problem? May be add your library as project and remove your color value? Or may be better solution?

Thanks in advance!

[2015-08-09 20:55] macaronlover commented on #543
@deinok Code is attached:

**Activity code**

public class BakerlooHDNActivity extends AppCompatActivity {

    private Drawer result = null;

    @Override
    public void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        setContentView(R.layout.activity_bakerloo_hdn);

        final String actionBarColor = "#B36305";

        Toolbar mToolbar = (Toolbar) f

[2015-08-09 21:18] deinok commented on #543
I supose that what you want is a fragment inside an activity and while viewing that fragment see the navigation drawer. The only thing that you should do is:
Create a layout(container) inside "activity_bakerloo_hdn" (the layout is going to be the fragment).
Set the OnClickListner of the drawer, and when is clicked, start the FragmentTransition to put "FragmentBakerlooHDN" inside the layout view

[2015-08-10 06:42] patelakshay13890 opened #548 "Show HambugerIcon + App Icon"
How can I Show HambugerIcon + App Icon in Toolbar in Small Size ???

[2015-08-10 07:55] bachhuberdesign commented on #545
Having the same (or similar) issue, specifically with this line on a 4.1 Nexus 7 test device.

if(VERSION.SDK_INT < 21) {
            this.mDrawerLayout.setDrawerShadow(drawable.drawer_shadow, this.mDrawerGravity.intValue());
        }

For whatever reason the drawable is giving a null pointer error in MaterialDrawer 3.1.2. I switched to 3.0.8 and it works fine.

[2015-08-10 09:42] mikepenz commented on #546
@markdwags you have to notify the drawer that the item was updated, so it can handle the changes:
https://github.com/mikepenz/MaterialDrawer/blob/develop/library/src/main/java/com/mikepenz/materialdrawer/Drawer.java#L443

note that this require an `identifier` on the items

[2015-08-10 09:42] #546 closed

[2015-08-10 09:43] mikepenz commented on #544
What was the issue?

[2015-08-10 09:44] mikepenz commented on #547
@Mikhail-dev my library does not overwrite any attributes from other libs. the attributes are prefixed
https://github.com/mikepenz/MaterialDrawer/blob/develop/library/src/main/res/values/attrs.xml#L22

[2015-08-10 09:44] #547 closed

[2015-08-10 09:48] mikepenz commented on #543
@macaronlover as @deinok already noted yes it is possible to have the drawer in a fragment, it is also possible to have the drawer in the activity (which is recommended) and you manage it via the fragment.

There are enough resources available, how you can access stuff from the activtiy, on stackoverflow as this is a basic question for beginners.

Just search for it. you will find enough answers,

[2015-08-10 09:48] #543 closed

[2015-08-10 09:49] mikepenz commented on #548
@patelakshay13890 this is not a MaterialDrawer specific question. Please use Google / StackOverflow to find the answer.

I think there is some method on the toolbar to enable the icon to be shown.

[2015-08-10 09:49] #548 closed

[2015-08-10 09:50] mikepenz commented on #545
@bachhuberdesign this issue is fixed (as far as i remember) on v4.0.0 which will be available soon. Thanks for the error report

[2015-08-10 09:50] #545 closed

[2015-08-10 09:57] marinica94 commented on #544
Recyclerview(22.2.1) and playservice (7.5.0) caused this. After updating them I was getting an error with java finished with non zero exit value 2 so I added in defaultConfig multiDexEnabled true witch solved the problem but caused the crash on pre l devices.

[2015-08-10 09:57] artemkutukov commented on #545
Ty, Mike ! You created awesome library!

[2015-08-10 10:04] mikepenz commented on #544
@marinica94 ah ok. so it was a problem with the methods count and incompatible support libs

[2015-08-10 10:05] mikepenz commented on #545
@artemkutukov thank you so much ;)

[2015-08-10 10:08] marinica94 commented on #544
Yeah sorry for though it was from materialdrawer

[2015-08-10 13:07] mikepenz commented on #544
No problem

[2015-08-10 14:44] mikepenz commented on #487
@adamgrieger can you also try this with the latest RC: https://github.com/mikepenz/MaterialDrawer/issues/487#issuecomment-127687495

[2015-08-10 16:18] markdwags commented on #546
Dang, I knew it would be something simple.  Thanks again, much appreciated.

[2015-08-10 16:19] gpulido opened #549 "Activity with MaterialDrawer and fragment(s) with toolbars"
Hello,
I'm on a big refactor / adapting to the new material design libraries to use the coordinatorlayout and It seems to me that in order to have different screens with different toolbar behaviors, we can do one of the following:
1) One activity for each toolbar and coordination behavior, create several material drawers instances (one for activity)
2) One activity with one material drawer, each f

[2015-08-10 16:48] mikepenz commented on #549
@gpulido great that you try to go with the second solution as it would be bad to have many fragments containing the drawer. it's just not efficient.

Just looked at the code, and i think it's possible to add this method ;). Expect it in v4.0.0

[2015-08-10 16:48] #549 closed

[2015-08-10 17:02] gpulido commented on #549
That would be awesome!
From my pow, the material design library tries to enforce that approach (to have the toolbar view on the fragments / views) but it also implies not having a God activity that contains all the "common" views that the fragment "would use", of course it is more efficient, but it also means refactor the entire application visualization logic.

In the mean time, I'm "duplicating"

[2015-08-10 18:41] adamgrieger commented on #487
I double-checked to make sure that I am using the latest RC, and I am. I can still reproduce the problem. I've only changed one line of code when comparing a working version of my app to the crashing version. I'll take a deeper look again to see if there is something weird. I also tested it without even adding profiles and the app still runs.

Here are the combinations I've tried:
No Profiles -->

[2015-08-10 20:30] mikepenz commented on #487
@adamgrieger found the issue. will be fixed in the final release ;)

[2015-08-10 20:45] adamgrieger commented on #487
Awesome, glad I could help!

[2015-08-10 20:48] mikepenz commented on #487
@FabianTerhorst I never had animated items, but doing something like you do should still work, as i did not modify something in the main logic. If it is really a problem now i suggest that you create a CustomDrawerItem which allows you to have a special handling for AnimatedIcons so you can move the logic for the animation into the item ;)

`.withCloseOnClick(false)` as of the current state there

[2015-08-10 20:50] mikepenz commented on #487
@deinok i already use the correct `ViewHolder` pattern, which should already be enough performance win. I have not used the data-binding api yet but i assume that it won't offer enough flexibility to implement all the features and extra behaviors which are required in this lib.

Thanks for the suggestion

[2015-08-10 20:52] mikepenz commented on #487
@Dokuzov yes you are right this was an issue, will be possible in the final v4.0.0

[2015-08-10 21:24] mikepenz commented on #487
RC with some fixes to the above mentioned issues
[code]

[2015-08-10 21:25] mikepenz commented on #549
@gpulido you can pre test the latest v4.0.0 here:
https://github.com/mikepenz/MaterialDrawer/issues/487

it is a heavy refactor too ;)

[2015-08-10 21:26] mikepenz commented on #549
Changing the hamburger to arrow and back is shown in the ComplexHeaderActivity

[2015-08-10 21:35] gpulido commented on #549
I'm already using the 4.0.0 but rc1 as the Google icons stopped working, and as I'm involved on the refactor I didn't want to ask before I had more time to be sure that it wasn't my fault.
I hope that tomorrow I can update to rc7 and let you know if anything is missing. Thanks for the tip on the complexheaderActivity, I will take a look asap :)
Again, amazing. Thank you for the support

[2015-08-10 21:37] mikepenz commented on #549
@gpulido with v4.0.0 rc2 i switched to the updated Android-Iconics which split up into core and main package. you just have to provide the android-iconics dependency which include the GoogleMaterial font ;)
https://github.com/mikepenz/Android-Iconics/tree/develop#include-in-your-project

[2015-08-11 04:32] mychaelgo opened #550 "Sticky footer item"
Sticky footer item has no margin when i update from 3.0.7 to 3.1.2

[2015-08-11 05:44] gpulido commented on #549
@mikepenz About the iconics, I figure out that had to be something like that :) thank you, I'm upgrading to rc7 now.

Regarding the Hamburguer and arrow, the code show on the ComplexHeaderActivity is the one to be used one the drawer and the toolbar are both on the activity, so you can use the setSupportActionBar(toolbar) once and pass the same toolbar instance to the drawer and then your can mani

[2015-08-11 09:25] mikepenz commented on #550
@mychaelgo there will be a huge update v4.0.0 which will fix this.

[2015-08-11 09:26] #550 closed

[2015-08-11 13:45] Reidy1994 opened #551 "Items not showing in android api 22"
![material](https://cloud.githubusercontent.com/assets/9309350/9198910/05ba9d74-4048-11e5-96c8-8b92cd6bbf5d.png)

[code]

[code]

[2015-08-11 13:55] hishamBakr opened #552 "Expandable nav item"
Thank you for great component. This is an enhancement. I would like to have an option to add expandable item.

I am building RSS app where you can subscribe to tons of channels. so it is better to add expandable categories to navigation drawer

[2015-08-11 14:35] mikepenz commented on #552
There were already a few questions about it. see the previous answers: https://github.com/mikepenz/MaterialDrawer/issues?utf8=%E2%9C%93&q=expandable

[2015-08-11 14:35] #552 closed

[2015-08-11 16:08] mikepenz commented on #551
For v4.0.0 it works. And i remember that it also worked vor v3.1.2. not sure what goes wrong for you. the same code runs on api 21?

<img width="570" alt="bildschirmfoto 2015-08-11 um 18 07 55" src="https://cloud.githubusercontent.com/assets/1476232/9202825/fb3f534c-4053-11e5-8dce-e5b427706a45.png">

[2015-08-11 16:08] #551 closed

[2015-08-11 17:43] Rainer-Lang commented on #141
@mikepenz And what about an animation for opening or closing? Does MaterialDrawer have animations for add or remove items? Is this a feature of the newly implemented recyclerview?

[2015-08-11 19:24] mikepenz commented on #141
@Rainer-Lang the RecyclerView allows to interact as any RecyclerView you used. You can provide and define everything you need. The BaseAdapter also uses the correct notify methods

[2015-08-11 22:28] Watsonibm opened #553 "Load facebook picture into Profile pic in the drawer"
Hello,

How can i show profile picture of facebook account in the profile picture of the drawer?

Thanks

[2015-08-12 03:46] dominicsavb opened #554 "Why this is happend?"
![screenshots_2015-08-12-10-04-43](https://cloud.githubusercontent.com/assets/6405946/9216180/46289ae0-40df-11e5-89d1-3fc51ec7bbb6.png)

Why this is happend?

Thank youuuu

[2015-08-12 06:22] mikepenz commented on #553
@Watsonibm facebook has nothing to do with this project. Here is the information what you have to do to load an image from a url into the AccountHeader's profile:

https://github.com/mikepenz/MaterialDrawer#load-images-via-url

[2015-08-12 06:22] #553 closed

[2015-08-12 06:23] mikepenz commented on #554
@dominicsavb you have set a sectionDrawerItem as first element which has a padding on top of the divider. you can either deactivate the divider for it. But the recommended solution is to remove this sectionDrawerItem as it is obsolete and the user already sees that he is within a menu

[2015-08-12 06:23] #554 closed

[2015-08-12 07:08] Reidy1994 commented on #551
if build drawer with .withHeader(R.layout.drawer_header)

drawer_header.xml:
<ImageView xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="wrap_content"
    android:adjustViewBounds="true"
    android:orientation="vertical"
    android:scaleType="fitCenter"
    android:src="@drawable/header"></ImageView>

and header.xml:
<l

[2015-08-12 07:09] mikepenz commented on #551
@Reidy1994 then the problem is that your header takes all the space. i would recommend that you define a fixed height for it

[2015-08-12 07:20] Reidy1994 commented on #551
thanks!

[2015-08-13 06:01] dominicsavb opened #555 "How to update Badge?"
how to get a Drawer Item, and update its badge text, badge text color, and badge background?

Thank youuu

[2015-08-13 06:28] mikepenz commented on #555
@dominicsavb set an identifier for the DrawerItem containing this badge.

modify the drawerItem to your needs and let the Drawer know that one of it's items was updated with
`drawer.updateItem()`

[2015-08-13 06:28] #555 closed

[2015-08-13 13:42] FabianTerhorst commented on #487
found another bug. The icon size on my nexus 10 is to small inside the drawer. On my nexus 9 everything looks normal.

[2015-08-13 14:00] mikepenz commented on #487
Please some screenshots as I can't test on a real device

Fabian Terhorst <notifications@github.com> schrieb am Do., 13. Aug. 2015
15:42:

[2015-08-13 14:07] FabianTerhorst commented on #487
https://drive.google.com/file/d/0ByxUjhRGdx9jZ3FZT0JaVV94ckE/view?usp=sharing

[2015-08-13 14:18] mikepenz commented on #487
@FabianTerhorst what's the android version? i do not have a different layout for those devices. nor other values. seems very strange for me

[2015-08-13 14:19] FabianTerhorst commented on #487
Its stock Android 5.0

[2015-08-13 14:24] mikepenz commented on #487
@FabianTerhorst ok thanks. will take a look

[2015-08-13 19:25] seba123neo opened #556 "Drawer icons looks totally black"
I've noticed that the material drawer icons look totally black when the light theme is set.

when in fact I see it must be like gray color right ?

in the demo example also shows me "black" while using the light theme...

everything else works perfect

[2015-08-13 19:26] mikepenz commented on #556
@seba123neo i assume you use it with a pre api level 21 device. those versions are not able to display the (icon) font with transparency, so they display black. a workaround would be to set the normal icon color as grey not black with transparency. but for the default settings i kept it black as it will be correct on newer api levels

[2015-08-13 19:26] #556 closed

[2015-08-13 19:30] seba123neo commented on #556
yes, api is pre 21, now I understand...
I realized that when I was testing an example of navigation drawer of the new "desing library" and even in pre 21 api, icons look good...

[2015-08-13 19:30] mikepenz commented on #556
@seba123neo you can either define real icons (as the design library does) or you overwrite the default color of the icons to be a solid grey instead of black with alpha

[2015-08-13 20:15] mikepenz commented on #556
@seba123neo there will be an improvement to the coloring in v4.0.0 of the MaterialDrawer

[2015-08-13 20:25] mikepenz commented on #487
@FabianTerhorst found the bug and fixed it. Thanks for reporting (was able to greatly improve the layouts used under the hood ;) )

**CHANGES**
- fix a bug with the wrong icon size on tablets. thanks @FabianTerhorst
- greatly improve the layouts for all DrawerItems
- new option to just show the main profile head
- updated Android-Iconics

[code]

[2015-08-13 20:43] seba123neo commented on #556
ok, thanks mike !!! you can close this issue

I hope very anxious the version 4, which will be spectacular.

[2015-08-13 20:46] mikepenz commented on #556
you can try already: https://github.com/mikepenz/MaterialDrawer/tree/feature/refactoring

[2015-08-14 14:59] FabianTerhorst commented on #487
with '''com.mikepenz:materialdrawer:4.0.0.rc1-SNAPSHOT@aar''' '''statusItem.withIconColorRes(R.color.md_green_500); mDrawer.updateItem(statusItem);''' is working. With '''com.mikepenz:materialdrawer:4.0.0.rc8-SNAPSHOT@aar''' not.

[2015-08-14 15:16] FabianTerhorst commented on #487
looks like mDrawer.getRecyclerView().getAdapter().notifyItemChanged(position); doesn´t works correctly.

[2015-08-14 15:29] FabianTerhorst commented on #487
but sometimes after clicking the item with the workaround i get

PID: 16114
    java.lang.NullPointerException: Attempt to invoke interface method 'boolean com.mikepenz.materialdrawer.model.interfaces.IDrawerItem.isEnabled()' on a null object reference
            at com.mikepenz.materialdrawer.adapter.BaseDrawerAdapter$1.onClick(BaseDrawerAdapter.java:189)
            at android.view.View.perform

[2015-08-14 16:07] mikepenz commented on #487
@FabianTerhorst can you share some details about your implementation? Seems strange. i call `notifyItemChanged()` on the same position i changed the item. which should work. :/

I just build RC9 for you with a prevention for this `NullPointerException`

[2015-08-14 16:10] FabianTerhorst commented on #487
here is a litte snippet:

PrimaryDrawerItem statusItem = (PrimaryDrawerItem) mDrawer.getDrawerItem(...);
                statusItem.withIcon(GoogleMaterialCommunity.Icon.cmd_cloud);
                Object ... = message.obj;
                if (... != null) {
                    if (...) {
                        statusItem.withIconColorRes(R.color.md_green_500);
                    } else if (...)

[2015-08-14 16:13] mikepenz commented on #487
@FabianTerhorst where do you trigger this? on the Main thread? In general it seems fine. I also do not see why the `notifyItemChanged()` would not work :/

[2015-08-14 16:17] FabianTerhorst commented on #487
It´s inside a Handler

[2015-08-14 16:19] mikepenz commented on #487
@FabianTerhorst oh well you were right. it is my mistake :( just saw it...

[2015-08-14 16:21] mikepenz commented on #487
@FabianTerhorst currently building RC10 which solves both of your issues. Should be available in a few seconds. you should be able to remove the `notifyDataSetChanged()`

[2015-08-14 16:28] FabianTerhorst commented on #487
thanks, its working now.

[2015-08-14 16:29] mikepenz commented on #487
@FabianTerhorst thank you for testing that detailed. I think these were the last few missing bits for a final release :)

[2015-08-14 16:46] FabianTerhorst commented on #487
@mikepenz I have 2 Questions:
1.) Is a DrawerItem with .withSelectable(false) inside the MiniDrawer Selectable?
2.) How I can update the IconColor from a Item inside the MiniDrawer?

[2015-08-14 16:52] mikepenz commented on #487
@FabianTerhorst
1.) no it's not
2.) the color is generated with the same logic as the normal primaryIcon it is used from. So if you modify something you can call `createItems` on the `MiniDrawer` which will recreate the items. A cleaner way would be to get the Adapter from the MiniDrawer `getDrawerAdapter` and call `notifyDataSetChanged`

[2015-08-14 16:58] FabianTerhorst commented on #487
When i click the DrawerItem with withSelectable(false) it doesn´t select in the MiniDrawer but when i open the drawer it is selected inside the normal drawer.

[2015-08-14 17:20] FabianTerhorst commented on #487
And not selectable items shouldn´t close the big drawer.

[2015-08-14 17:40] mikepenz commented on #487
@FabianTerhorst ok i will look at those 2 things. The MiniDrawer is the newest thing, so there are is still some space for UX improvements ;). Just name it and i will change before going final ;)

[2015-08-14 19:52] hishamBakr opened #557 "stack over flow when use Glide"
Dear,
         Thank you for the great effort. I just face an issue when I want to load profile image via Uri, I use this code in Application class:

        DrawerImageLoader.init(new DrawerImageLoader.IDrawerImageLoader() {
            @Override
            public void set(ImageView imageView, Uri uri, Drawable placeholder) {
                Glide.with(imageView.getContext()).load(uri).placehold

[2015-08-14 22:00] asinel opened #558 "Header is not displayed on some phones."
I use material drawer
[code]
R.layout.drawer_header:
[code]
Usually it works: (Screen from samsung LG-L90)
![quickmemo _2015-08-14-20-09-34 1](https://cloud.githubusercontent.com/assets/11772185/9284859/7dd4dfb6-42e8-11e5-9822-990742fcd357.png)
But on some phones it doesn't works: (Screen from Samsung Galaxy S3)
![photo58236909_376189626](https://cloud.githubusercontent.com/assets/11772185/9284879

[2015-08-15 08:18] mikepenz commented on #557
@hishamBakr this is a problem with glide and v3.1.2. It is fixed in v4.0.0 of the drawer. It's currently in beta https://github.com/mikepenz/MaterialDrawer/issues/487#issue-95296856

[2015-08-15 08:18] #557 closed

[2015-08-15 08:19] mikepenz commented on #558
@asinel seems to be an android issue. i think it should work if you put the ImageView inside a LinearLayout and give it a fixed height

[2015-08-15 08:19] #558 closed

[2015-08-16 12:23] FabianTerhorst commented on #487
@mikepenz a example how to build a recyclerview with translucent navigation/statusbar would be nice, because when i set .withTranslucentNavigationBarProgrammatically(true) and my recylcerview has the following attributes:

        android:layout_width="fill_parent"
        android:layout_height="fill_parent"
        android:fitsSystemWindows="true"
        android:clipToPadding="false"

the recycl

[2015-08-16 12:24] mikepenz commented on #487
@FabianTerhorst translucent style is managed by the lib just remove `fitsSystemWindows`

[2015-08-16 12:32] FabianTerhorst commented on #487
Nothing changed. Is it because my recylcerview is inside a framelayout?

[2015-08-16 12:33] mikepenz commented on #487
@FabianTerhorst you talk about your views content?
There is a sample activity which shows you how to have FullScreen (translucent statusbar + navigationBar) is this what you are referring to? have you looked at this sample?

[2015-08-16 12:42] FabianTerhorst commented on #487
with withFullscreen(true) the padding for the toolbar is wrong. The toolbar is now inside the statusbar. but the navigationbar looks good.

[2015-08-16 12:44] mikepenz commented on #487
@FabianTerhorst if you enable fullscreen i give you the option to handle everything on your own. i can't decide inside the library if you want the content to also be below the toolbar. If you want the correct padding  add this to your toolbar:
[code]

[2015-08-16 12:58] FabianTerhorst commented on #487
Is there a dimension for the navigationbar?

[2015-08-16 12:59] mikepenz commented on #487
no for the StatusBar. For the NavigationBar there is a programmatically method available inside the Drawer

[2015-08-16 15:59] helmifluida opened #560 "OverpendingTransition not work ??"
How fix Dont work Transition to back home (MainActivity) ?

click with back button to home from toolbar transition is work
if click with back button from smartphone not work ?

CODE :
[code]

[2015-08-16 17:28] mikepenz commented on #560
@helmifluida can you please be a bit more specific? what is not working? and what do you want?

[2015-08-16 23:09] FabianTerhorst commented on #487
The MiniDrawer RecyclerView does not has a bottom padding for the NavigationBar with withFullscreen(true).

[2015-08-17 05:51] mikepenz commented on #487
Thanks. I'm now on vacation. Will take a look after it :)

[2015-08-17 09:51] TheLoyalCruel opened #561 "Navigation icon to the right"
in multi drawer activity,
how to set the navigation drawer icon (hamburger icon) to the right side of toolbar!?
thanks...

[2015-08-17 10:15] manuelernesto commented on #484
Hi, when I try to app your library into my existing project I get this Error:
Error:(29, 13) Failed to resolve: com.mikepenz:materialdrawer:3.1.2

[2015-08-17 17:26] phoenixstudio commented on #80
hi there,
i also encountered this kind of problem.
how to get the position of secondaryitem?

[code]
The logout should be on the 6th button, however in this case when I clicked settings (5th button), the application logs out.

[2015-08-17 17:33] phoenixstudio commented on #80
Just realized that case 5 would be the DividerDrawerItem().
Silly me.
It can't be click though, but never mind, I'll work as it is. Thanks :)

[2015-08-17 18:54] kathyfsouza opened #562 "SecondaryDrawerItem"
Changing the background of SecondaryDrawerItem and color font as changed the way down and it did not work

[code]

[2015-08-17 19:13] kathyfsouza commented on #562
já consegui.

Deverá ser alterado assim:

                        new SecondaryDrawerItem().withName(R.string.lbl_menu_sair).withIcon(R.drawable.mpm_ic_sair).withIdentifier(10).withCheckable(false).withSelectedColor(R.color.cinza_sair).withSelectedTextColorRes(R.color.white)

[2015-08-18 12:05] manuelernesto opened #563 "Failed to resolve Gradle"
When building project(sync gradle), appears this error:
Error: Failed to resolve: com.mikepenz.materialdrawer:3.1.2

[2015-08-18 12:07] Igor- opened #564 "Custom toggleDrawerItem"
How I can set custom style for toggleDrawerItem? I can't find answer in Style the drawer section of official documentation.

[2015-08-18 13:15] ealarco1 opened #565 "Open drawer when swiping from edges."
Is there a way to enable the option to open the drawer by swiping a finger from the left edge and not only by touching the icon in action bar? I don't know if it's disabled by default in your implementation or I am building it wrong.
[code]
Thanks.

[2015-08-18 14:43] FabianTerhorst commented on #565
@ealarco1 try to use the ```new DrawerBuilder()``` Object to build the drawer.
[code]

[2015-08-18 14:46] FabianTerhorst commented on #563
its not com.mikepenz.materialdrawer:3.1.2 its com.mikepenz:materialdrawer:3.1.2. Just replace the '.' with a ':'.

[2015-08-18 15:13] ealarco1 commented on #565
@FabianTerhorst It appears that I was using an old version (2.7.7) and the DrawerBuilder wasn't used back then. I upgraded my dependencies, and modified my code to use DrawerBuilder() instead as you suggested but it still doesn't let me open the drawer by swiping.

[2015-08-18 15:20] FabianTerhorst commented on #565
you can enable it with mDrawer.getDrawerLayout().setDrawerLockMode(DrawerLayout.LOCK_MODE_UNLOCKED);

[2015-08-18 15:25] ealarco1 commented on #565
Solved it. Thanks.

[2015-08-18 15:47] electrolobzik opened #566 "Wrong toolbar position"
In my app I came to an issue with position of toolbar. I use `MaterialDrawerTheme.Light.DarkToolbar.TranslucentStatus` theme. In my activity layout the root element has `android:fitsSystemWindows="true"`.

If I don't setup drawer immediately and add it only after some event. If I am using `.withTranslucentStatusBar(true)` it adds extra spacing between status bar and toolbar with height of status b

[2015-08-18 16:05] electrolobzik commented on #566
What I get with `.withTranslucentStatusBar(true)` in first case (delayed setup): ![extra spacing](http://i.imgur.com/CREA8E2.png)
What I want to get in both cases and get with `.withTranslucentStatusBar(false)` in delayed case and with `.withTranslucentStatusBar(true)` in onCreate case: ![perfect](http://i.imgur.com/swqFa1q.png)
What I get with `.withTranslucentStatusBar(false)` in second case (se

[2015-08-18 17:34] manuelernesto commented on #563
@FabianTerhorst I replaced , but the error continues

[2015-08-19 00:21] adamgrieger opened #567 "Disabling automatic "up navigation" after profile selection"
Hi,

I have looked through documentation and the code to see if I could fix this myself, but I couldn't find a definite answer. Basically, what I want to do is add profiles, select profiles, etc. without being taken back to the "main" drawer items. I am not sure if there is a listener to override or something similar to disable automatic up navigation, so I thought I should ask. For reference, I a

[2015-08-19 08:25] githupfisher opened #568 "how to change the left menu icon or change it's color"
[code]

how to change the left menu icon or change it's color

[2015-08-21 08:22] mikepenz commented on #561
@TheLoyalCruel the ActionBarDrawerToggle is by default on the left. This is System specific. It is only on the right if you have an RTL app.

If you want a custom behavior. don't pass the `Toolbar` to the drawer and handle the open/close on your own with a normal `MenuItem`

[2015-08-21 08:22] #561 closed

[2015-08-21 08:23] mikepenz commented on #484
@manuelernesto is your gradle in offline mode? any other issues if you run gradle in debug?

[2015-08-21 08:24] mikepenz commented on #562
you try to pass a color to the background? You can only pass a drawable or a real drawable ressource as background for the badge

This will be improved in v4.0.0

[2015-08-21 08:24] #562 closed

[2015-08-21 08:29] mikepenz commented on #564
@Igor- the best solution would be to create a CustomDrawerItem in your case. This will allow you to have more control about the behavior and look of your DrawerItem.

Creating a CustomDrawerItem is really easy. In your case copy the `ToggleDrawerItem` and add it to your project. You can then modify how the item is created (Like in a normal Adapter)

[2015-08-21 08:29] #564 closed

[2015-08-21 08:30] mikepenz commented on #565
@FabianTerhorst thanks for your help during my vacation ;)

@ealarco1 normally do you lock the drawer somewhere. By default it should be swipeable

[2015-08-21 08:30] #565 closed

[2015-08-21 08:32] mikepenz commented on #566
@electrolobzik the MaterialDrawer should take the complexity out of the `StatusBar`, `Toolbar` positioning. So you do not have to use `android:fitsSystemWindows="true"` in your layouts. You can see samples of all different behaviors (tested on devices with API Level 10, 17, 19, 21, 22) in the sample app.

[2015-08-21 08:32] #566 closed

[2015-08-21 08:34] mikepenz commented on #563
@manuelernesto this is the correct gradle dependency:

[code]

perhaps you have enabled offline mode in gradle? or you have other issues in your gradle which then fail with the MaterialDrawer dependency

[2015-08-21 08:34] #563 closed

[2015-08-21 08:36] electrolobzik commented on #566
In my case I need to get toolbar WITHOUT drawer. And only after some event initialize drawer. As I see all samples show cases only with drawer. How can I achieve the behaviour?

[2015-08-21 08:38] mikepenz commented on #566
@electrolobzik i will take a look at your sample you posted.

What you want is a bit problematic. as the MaterialDrawer inflates the DrawerLayout and also the ScrimInsetsFrameLayout to simplify everything for you.

I would recommend that you create the Drawer on start of you application but you lock it so it can't be opened. You can then add and modify the items at a later time. But the MaterialDr

[2015-08-21 08:39] mikepenz commented on #568
@githupfisher you talk about the ActionBarDrawerToggle. This is system default. If you want your own behavior please look at Google how you can achieve this. You can then just remove the `Toolbar` from the builder and hook in your custom toggle behavior

[2015-08-21 08:39] #568 closed

[2015-08-21 08:44] electrolobzik commented on #566
Your variant should work for me. How can I lock the drawer and remove the hamburger icon from the toolbar?

[2015-08-21 08:47] mikepenz commented on #566
@electrolobzik just don't pass the `Toolbar` to the drawer via the builder. And to lock the Drawer. You can call something like.

[code]

[2015-08-21 08:52] electrolobzik commented on #566
Perfect! Thank you a lot!

[2015-08-21 09:09] manuelernesto commented on #484
@mikepenz I disabled the offline mode Gradle , and now this working perfectly. thanks

[2015-08-21 12:13] mikepenz commented on #567
@adamgrieger you can control this via `withCloseDrawerOnProfileListClick` on pre v4.0.0. Starting with v4.0.0 (with the final version) you will be able to handle this also via the `onProfileChanged` listener by returning `true` if you have consumed the event, or false if you want the drawer continue with the functionality (closing the drawer)

[2015-08-21 12:13] #567 closed

[2015-08-21 12:13] mikepenz commented on #560
i close this for now. please reopen with more details

[2015-08-21 12:21] mikepenz commented on #567
ok just saw that this is not exactly what you need/want. i will improve it for v4.0.0

[2015-08-21 12:21] #560 closed

[2015-08-21 12:24] mikepenz commented on #567
And i was wrong :D there is already a method for this too: `withResetDrawerOnProfileListClick`

[2015-08-21 15:47] aeroperf opened #569 "Ability to add custom view in Drawer removed?"
I used to be able to add a custom (non list) view to a drawer. After updating to the latest version, it appears this is not possible anymore (still early....maybe I'm just missing it)?

[2015-08-21 15:48] mikepenz commented on #569
@aeroperf from which version did you update? to v3.1.2?

[2015-08-21 15:49] aeroperf commented on #569
2.8.1

[2015-08-21 15:50] mikepenz commented on #569
`withCustomView` is not working for you?

[2015-08-21 15:51] mikepenz commented on #569
@aeroperf just as a quick info. if you are currently updating. you probably should wait for v4.0.0 which will land today.

[2015-08-21 15:52] aeroperf commented on #569
I swear I looked everywhere for something like that in the docs and did not find it... 8-/

Previously I was using .append(), which allowed setting a view within. Thanks!

[2015-08-21 15:54] mikepenz commented on #569
@aeroperf i think this method is not shown in the docs as it is a really advanced usage. Always hoping for devs to check the source ;). But great that i was able to help.

v4.0.0 will come with a RecyclerView, just in case you use this method for this.

about `.append()` this is only used now to add a second slider on the other side

[2015-08-21 15:54] #569 closed

[2015-08-21 15:55] aeroperf commented on #569
I was digging through the source when the email came across that you posted. Thanks again, great library!

[2015-08-21 15:56] mikepenz commented on #569
@aeroperf thank you so much ;)

[2015-08-21 17:10] mikepenz commented on #487
I am proud to announce that v4.0.0 is now **FINAL**

Thanks everyone for helping to improve this big update.

I hope everyone is as happy about this update as me ;).

Thank you all !

[2015-08-21 17:10] #487 closed

[2015-08-21 17:51] FabianTerhorst commented on #487
mDrawer.updateItem(statusItem);
                if(mMiniResult != null) {
                    mMiniResult.getDrawerAdapter().notifyDataSetChanged();
                }

doesn´t work for me.

[2015-08-21 17:54] mikepenz commented on #487
@FabianTerhorst and with `mMiniResult .createItems()`

[2015-08-21 17:55] FabianTerhorst commented on #487
but this jumps the minidrawer scroll to top

[2015-08-21 18:41] mikepenz commented on #487
@FabianTerhorst added a new method `updateItem(identifier)` for you ;)

Here's a quick snapshot including this method

[code]

[2015-08-21 18:42] FabianTerhorst commented on #487
Thank you

[2015-08-21 19:39] EpsilonOrionis opened #570 "Error while syncing..."
![codice_mat](https://cloud.githubusercontent.com/assets/7190255/9417483/05406e66-484d-11e5-9739-8c8f39fa2307.png)
![grad](https://cloud.githubusercontent.com/assets/7190255/9417484/054420ce-484d-11e5-8cd7-66cba58dfdfe.png)

[2015-08-21 20:03] mikepenz commented on #570
@EpsilonOrionis v4.0.0 uses the latest v23 of the support libs. If you use older support libs or any libs which target older version you should update (or exclude the older dependencies)

[2015-08-21 20:03] #570 closed

[2015-08-21 20:05] adamgrieger commented on #567
Great, exactly what I needed. Thanks!

[2015-08-21 21:01] EpsilonOrionis opened #571 "Error while syncing... (Again)"
I thought that creating a clean project, I could find out the other third party library that was in conflict with yours, but...

![schermata del 2015-08-21 22 59 18](https://cloud.githubusercontent.com/assets/7190255/9419013/6bd5c706-4858-11e5-9699-afc5b627f8fb.png)
![schermata del 2015-08-21 22 59 55](https://cloud.githubusercontent.com/assets/7190255/9419014/6bfc6b90-4858-11e5-8184-b83e2b796c0d.

[2015-08-22 06:11] mikepenz commented on #571
@EpsilonOrionis ah i think i know what's the problem. The latest support libs 23 also require the newest build tools 23 and target 23. And i'm not sure if it also requires the gradle build tools 1.3

[2015-08-22 06:11] #571 closed

[2015-08-22 06:11] mikepenz commented on #571
[code]

[2015-08-22 06:50] TheLoyalCruel commented on #561
thanks...
could you please help me to set a menuItem to open the drawer from the right side! something like this:
![screenshot_2015-08-22-11-16-24](https://cloud.githubusercontent.com/assets/10336613/9422922/aeab7d02-48bf-11e5-982c-e26f8da3ce21.png)

[2015-08-22 06:51] mikepenz commented on #561
you can open the drawer with. `drawer.openDrawer()` and close it with `drawer.closeDrawer()` and check if it is open with `drawer.isDrawerOpen()` (probably a bit different named, i just write it without looking at the code)

the whole thing is nothing MaterialDrawer specific. Just normal Android + DrawerLayout ;)

[2015-08-22 07:37] TheLoyalCruel commented on #561
Dear Mike
God bless you :)
special thanks...

[2015-08-22 08:29] zenix98 opened #572 "Item Highlighting issue"
Hey there is no such method which can highlight the items in the drawer programticall,
I am facing an issue if user selects an option from the menu drawer and moves to fragment 1, and without back press again he slide the menu drawer and selects another option which opens fragment 2 now he press back button (android os) when he slides the drawer option item 2 is selected although he is on first fr

[2015-08-22 08:33] mikepenz commented on #572
Please read the Readme. There is an information about selection an item. Also look at the sample app.

[2015-08-22 08:33] #572 closed

[2015-08-22 09:03] zenix98 commented on #572
hey i have gone through the redme doc and found nothing regarding my query also i tested the applications using this library and found the same issue if some one press back it selects the first item even if he was on some other menu item selected.

[2015-08-22 09:54] mikepenz commented on #572
Because I implemented this behavior. You can implement any other behavior. No limitations.

The is a section on the Readme how you can select an item programmatically

[2015-08-22 11:18] Rainer-Lang opened #573 "Thank you"
Mike, your MaterialDrawer (and also your other wonderful, great and helpful libs) saved lot of work. Your libs are all on a very high level!
Thank you for your hard work and your ongoing development in your free time!

You know, I'm using your MaterialDrawer, Android-Iconics and AboutLibraries - for all other devs: have also a look to the other superb libs.

[2015-08-22 11:19] Rainer-Lang commented on #557
@mikepenz Now we all could use Gilde? Is this tested?

[2015-08-22 12:10] bzkdjc opened #574 "Error:Failed to resolve: Android-Iconics:iconics-core:unspecified"
Since I reconfigured my code to use v4.0.0, Android Studio does not compile! Anything I try fails with that message:
[code]
Even when I try to clean the project I get:
[code]

This never happened before when using v3. But, I already updated all my code to use v4, today!
This is what's included in app's `build.gradle`:
[code]

[2015-08-22 13:11] mikepenz commented on #574
Can you try to add mavenCentral() as dependency repository?

[2015-08-22 13:20] bzkdjc commented on #574
Trying to add mavenCentral()....
_(will report here)_

[2015-08-22 13:55] bzkdjc commented on #574
Is there another way to add mavenCentral() as dependency?

[2015-08-22 13:56] mikepenz commented on #574
And you updated to the latest v23 build tools and target sdk version and 1.3 gradle build tools?

[2015-08-22 14:14] bzkdjc commented on #574
Yes!
[code]

[2015-08-22 14:18] bzkdjc commented on #574
Using Android Studio 1.3.2.
This is project's `build.gradle`:
[code]

[2015-08-22 14:21] bzkdjc commented on #574
Just tried a Run>Rebuild from Android Studio menu and got again:
[code]

[2015-08-22 14:27] mikepenz commented on #574
Hmmm really strange. A similar configuration is working for me on multiple projects. Also for some friends.

I'm currently on vacation until tomorrow. Will take a closer look then

[2015-08-22 14:31] bzkdjc commented on #574
Meanwhile, here is a screenshot.
![selection_126](https://cloud.githubusercontent.com/assets/13347655/9424378/247a07aa-48da-11e5-992a-7ee54eb5272a.png)

[2015-08-22 14:49] bzkdjc commented on #574
This only happens when I add
[code]
to app's build.gradle.

When this line is removed from build.gradle:
[code]
then compilation succeeds and whole build is successful!
But FontAwesome seems missing.

[2015-08-22 15:34] mikepenz commented on #574
If you only have mavenCentral or mavenCentral. before jCenter?

[2015-08-22 15:44] bzkdjc commented on #574
Changed my project's `build.gradle` to this:
[code]
and did a clean/build, but still got:

[code]

![selection_127](https://cloud.githubusercontent.com/assets/13347655/9424686/8f56acf4-48e4-11e5-9127-6dd020cd18e0.png)

[2015-08-22 19:36] Null45 opened #575 "Fullscreen activity without status bar"
Hi there! I tried to make fullscreen activity with the material drawer, but got a white status bar placeholder(white line at top). How fix it?
![image]()
![image](https://cloud.githubusercontent.com/assets/201536/9425619/9167df70-4940-11e5-9e39-05813cefb84e.png)

My app theme:

    <style name="AppTheme" parent="Theme.AppCompat.Light.NoActionBar">
        <item name="android:typeface">monospace</i

[2015-08-22 20:12] mikepenz commented on #557
Yes this is fixed now

[2015-08-22 20:13] mikepenz commented on #575
I am currently on vacation. So answering with my phone.

No need for setting flags on your own. Everything working out of the box. Just use `withFullscreen(true)` with the drawer builder. Should do the job

[2015-08-22 20:42] echthard opened #576 "Badge size changes on DrawerItem click"
Hi,

I've noticed that if I click a few times on an Item with a Badge, its size will increase. The Badge will grow bigger and bigger if you keep on clicking.

 If I then click on an other Item and then again on the one with the increased Badge, it will return to normal size. But if I click on even an other Item, the really big size is back again.

You can see it if you go to your Sample app and go

[2015-08-22 21:01] singhdd93 commented on #576
Yeah it happens. Nice find @echthard

[2015-08-23 01:17] echthard opened #577 "Styling selected Item"
Hi Mike,

What do you think of the ability to change the selected Item some more?

My suggestion is to make the name BOLD and to change the Badge color for the selected Item.
Also I might like to disable the grey background color to indicate which Item is selected.

[2015-08-23 05:06] mshi opened #578 "withSelectedItem does not behave as expected"
Calling with `withSelectedItem` in `DrawerBuilder` does not work as expected. It always defaults to 1.

Offending code is:
[code]
in `DrawerBuilder` class.

It always sets the selected item to 1.

[2015-08-23 05:40] mikepenz commented on #578
This method sets the selection by identifier not by position.

[2015-08-23 05:43] mshi commented on #578
I'm referring to the builder method, not the Drawer instance method to set selection.

From the code, it definitely looks like it is assigning it by position. However, the problem is, before the quoted portion of the code, the mSelectedItem value is correct, and after that check/assign, it goes to 1. It then calls `DrawerUtils.setRecyclerViewSelection(this, this.mSelectedItem, false);` to set the

[2015-08-23 05:49] mikepenz commented on #578
Thanks.

I'm currently not at home. Will take a look as soon as I have access to my pc today or tomorrow.

Sorry for the issue

[2015-08-23 10:00] R0ns3n opened #579 "Missing: .withDisplayBelowToolbar"
Hey,

I just updated to version 4. Now I'm missing .withDisplayBelowToolbar. Is there another way to display the Drawer below the Toolbar or did you just removed it?

[2015-08-23 11:35] FabianTerhorst commented on #579
@mikepenz wrote "this api was removed as it is not a good solution. if you really need a (custom) drawer which should be displayed below a toolbar there is a better way by defining a layout where the drawer should be set to. You can find a sample how to do this in the sample application.

See the CustomContainerAcitvity how you can achieve this: https://github.com/mikepenz/MaterialDrawer/blob/deve

[2015-08-23 13:16] Rainer-Lang commented on #557
confirmed :-)

[2015-08-23 16:04] mikepenz commented on #578
@mshi yes you are right. you are just not able to select anything else than the first position if you have a header set. i will adjust this to check for mSelectedItem == 0.

will be fixed in v4.0.0

[2015-08-23 16:06] #578 closed

[2015-08-23 16:06] mikepenz commented on #573
+1 :)

Thank you for the nice words

[2015-08-23 16:06] #573 closed

[2015-08-23 16:08] mikepenz commented on #577
@echthard i have added a new method to do this. You can now provide some logic to modify the view of an item after it was created by the adapter. just provide an `OnPostBindViewListener`

[code]

[2015-08-23 16:08] #577 closed

[2015-08-23 16:23] #576 closed

[2015-08-23 16:24] mikepenz commented on #579
@R0ns3n as @FabianTerhorst already (correctly) mentioned. This was removed because it was a bad solution. If you want the Drawer below the toolbar. Follow the implementation of the `CustomContainerActivity`

[2015-08-23 16:24] #579 closed

[2015-08-23 16:24] #575 closed

[2015-08-23 16:25] mikepenz commented on #572
https://github.com/mikepenz/MaterialDrawer#selecting-an-item

[2015-08-23 18:46] mikepenz commented on #574
@bzkdjc can you try to add the materialdrawer dependenc with the transitive part?

[code]

and remove the iconics-core dependency (this is already part of the materialdrawer)
and then also add the font dependency?

[2015-08-24 10:44] Dokuzov opened #580 "String as identifier for profile - possible feature ?"
Can we have withStringIdentifier() method added to ProfileDrawerItem builder and a
String getStringIdentifier() to the IProfile interface?

Could be in a great use i believe , well to me at least :v:

[2015-08-24 14:05] kathyfsouza commented on #562
I got it, thank you

2015-08-21 5:24 GMT-03:00 Mike Penz <notifications@github.com>:

[2015-08-24 14:56] Null45 commented on #575
Working! Bit thanks for your job! U're the best! :)

[2015-08-24 18:57] jansallads commented on #487
Hey, first of all, thanks for this awesome library.

Now to my problem, I'm having a hard time to recreate the MiniDrawer that can be seen in the Demo application (don't exactly know what R.layout.crossfade_content is, and the CrossfadeWrapper seems to be gone?), is there an updated best-practice on how to achieve a MiniDrawer that is persistent and can be pulled out to a regular Drawer with the s

[2015-08-24 20:02] bzkdjc commented on #574
This is my `build.gradle` now:
[code]
I get that exact same error:
[code]
Did you say to also remove the fontawesome dependency? I read "also add the font dependency." The problem may come from that fontawesome dependency.

[2015-08-24 20:04] bzkdjc commented on #574
![selection_128](https://cloud.githubusercontent.com/assets/13347655/9450951/526040d6-4a9b-11e5-903f-3a1fd0867832.png)

[2015-08-24 22:10] bzkdjc commented on #574
The whole `build.gradle`:
[code]

[2015-08-24 23:16] javiersantos opened #581 "Add badge color"
How can be added the badge background color as appears in the screenshot?

Thanks and awesome update!

![Badge color](https://raw.githubusercontent.com/mikepenz/MaterialDrawer/feature/refactoring/DEV/github/screenshots1.jpg)

[2015-08-25 03:57] echthard commented on #581
Hi Javier,

You can find it in the sample app. But I'll explain it for you:

Define two colors; the backgroundColor you want and a pressedColor you'll see when you press the Item.

Then create a BadgeStyle:

BadgeStyle badgeStyle = new BadgeStyle(backgroundColor, pressedColor).withTextColor(Color.WHITE);

And then apply that badgeStyle to your Items. For example:

 new PrimaryDrawerItem().withBadg

[2015-08-25 06:03] mikepenz commented on #580
@Dokuzov theoretically it is possible, but has big disadvantages. You would not be able to use a `switch` to handle the listeners and so on. also it is really hard to change the logic now, as everything (also the apps of others) depend on the identifier being an `int`

What would be possible in your case is, give those items an identifier you can use to modify them later and define a `Tag`. You ca

[2015-08-25 06:06] mikepenz commented on #487
@jansallads the code for the sample app is included. check out the `MiniDrawerActivity`.

To be honest i did not expect that the `MiniDrawer` would be a component so many people use. So it's a bit "more" work at the moment. I will take a second look on it and will hopefully be able to simplify it a lot in `v4.1.0`

[2015-08-25 06:08] mikepenz commented on #574
@bzkdjc i am still not sure why your `gradle` can't resolve it, as it is working for everyone else. If you run the sample application (of the MaterialDrawer, just download the repo and start the sample) will it also show the same exception?

[2015-08-25 06:09] mikepenz commented on #581
@echthard thanks for answering.

[2015-08-25 06:09] #581 closed

[2015-08-25 06:09] #580 closed

[2015-08-25 06:28] Dokuzov commented on #580
Yes that is working thanks.

[2015-08-25 06:28] mikepenz commented on #580
@Dokuzov great :+1:

[2015-08-25 07:52] javiersantos commented on #581
Nice! Thanks.

[2015-08-25 12:36] AngleV opened #582 ".withHeader(int headerViewRes) does not work"
i am trying the following

[code]

but it does not display the header at all.
If i change it with  `.withStickyHeader`  it works fine
Any idea ?

[2015-08-25 12:56] mikepenz commented on #582
@AngleV does your header layout have a defined height?

[2015-08-25 15:10] mikepenz commented on #574
@bzkdjc can you please zip and send me the small sample app you've created. i hope it will also fail with the same exception on my system.

[2015-08-25 15:13] #582 closed

[2015-08-25 15:15] AngleV commented on #582
Hello mike

Yes my header layout is a FrameLayout with layout_height set to 170dp.
But no luck.

Also i found out that if i use builder with ".withHeader" and without .addDrawerItems  method i get a NullPointerException.

Attempt to invoke virtual method 'void com.mikepenz.materialdrawer.adapter.BaseDrawerAdapter.addHeaderDrawerItems(com.mikepenz.materialdrawer.model.interfaces.IDrawerItem[])' on

[2015-08-25 15:18] mikepenz commented on #582
@AngleV can you wrap it inside another layout (LinearLayout this can be match_parent, wrap_content). seems like the RecyclerView breaks the height

the StickyHeader and StickyFooter work different. They are not part of the RecyclerView. they are above and below.

[2015-08-25 15:20] AngleV commented on #582
Wrap it inside LinearLayout with wrap_content.  Same thing :(

[2015-08-25 15:23] mikepenz commented on #582
How does your layout you try to set as header look like?

[2015-08-25 15:31] AngleV commented on #582
<?xml version="1.0" encoding="utf-8"?>
<LinearLayout
              xmlns:android="http://schemas.android.com/apk/res/android"
              android:layout_width="match_parent"
              android:layout_height="wrap_content">

    <FrameLayout
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:adjustViewBounds="true"
        android:orientati

[2015-08-25 15:32] mikepenz commented on #582
try to change it to:

[code]

[2015-08-25 15:35] AngleV commented on #582
No luck !!!

[2015-08-25 15:36] mikepenz commented on #582
@AngleV with both variants? i use the second one in the sample app. and it works

[2015-08-25 15:42] AngleV commented on #582
Yes with both variants and it does not work !!!!

code below

        result = new DrawerBuilder()
                .withActivity(this)
                .withToolbar(toolbar)
                .withHeader(R.layout.header)
                .withHeaderDivider(false)
                .withSavedInstance(savedInstanceState)
                .addDrawerItems()
               .build();

[2015-08-25 15:43] mikepenz commented on #582
@AngleV it breaks with `.withHeaderDivider(false)` just tried it. :/

[2015-08-25 15:46] AngleV commented on #582
@mikepenz

Yes Now it works like a charm !!!

Thank you for your time.
Awaiting for the release that fixes the header without addDrawerItems.

[2015-08-25 15:52] mikepenz commented on #582
@AngleV just pushed v4.0.1 will take about 30 minutes to sync to maven central ;)

thanks for helping to fix this issue

[2015-08-25 15:53] AngleV opened #583 "Tapping Custom Header Layout triggers click on RecycleView behind it"
I have a custom header layout and when i tap to it it triggers click event to my RecyclerView which is inside a Fragment.

[2015-08-25 15:56] mikepenz commented on #583
@AngleV even if your layout has an onClickListener and is clickable?

[2015-08-25 15:57] AngleV commented on #582
i thank you @mikepenz for your awesome lib
Keep up coding !!!

[2015-08-25 15:59] mikepenz commented on #582
thanks :)

[2015-08-25 15:59] AngleV commented on #583
@mikepenz
I use .withStickyHeader
My Layout is the layout that suggested at #582
Just an ImageView

[2015-08-25 16:01] mikepenz commented on #583
You have to make it clickable and set an onClickListener on it to catch the events. else they are passed to the below layout

[2015-08-25 16:04] AngleV commented on #583
By setting android:clickable="true" to my xml layout it did the trick.
No need to set a onClickListener.

You may close it.
Thanks a lot

[2015-08-25 16:04] #583 closed

[2015-08-25 17:40] bzkdjc commented on #574
Removing extra code and zipping...

[2015-08-25 18:08] AngleV opened #584 "BadgeStyle that supports LayerDrawable"
What about add a BadgeStyle overload method that supports LayerDrawable also.

[2015-08-25 18:12] mikepenz commented on #584
@AngleV not possible as i use a `StateListDrawable` internally, and the two states are defined as `GradientDrawable` would mean a lot of changes for this.

Any advantage for you?

[2015-08-25 18:15] AngleV commented on #584
@mikepenz

I see.

it would be great if i could use the following as background for my badges

<?xml version="1.0" encoding="utf-8"?>
<layer-list xmlns:android="http://schemas.android.com/apk/res/android">
    <item
        android:bottom="0.1dp"
        android:left="0.2dp"
        android:right="10dp"
        android:top="10dp">
        <shape xmlns:android="http://schemas.android.com/apk/res/an

[2015-08-25 18:59] bzkdjc commented on #574
Just zipped and 'email'ed.

[2015-08-25 19:05] mikepenz commented on #574
@bzkdjc do you want to know something. it showed the same issue for me.

after that i added
[code]
in addition to
[code]
and it worked.

So i removed
[code]
again. but it still works. do not ask my what gradle does here, or why it has troubles first and then it doesn't but yeah.

[2015-08-25 19:08] bzkdjc commented on #574
So... I'm going to try to add `google-material-typeface` and then removed it.
Trying...

[2015-08-25 19:12] bzkdjc commented on #574
Added `google-material-typeface` like this:
[code]
But here, still shows that exact same issue!

[2015-08-25 19:17] mikepenz commented on #574
@bzkdjc here is the one which is working on my machine now: https://docs.google.com/uc?id=0B4Y8HN2BnSjpc182bk1uQjBxMFk&export=download

[2015-08-25 19:18] bzkdjc commented on #574
Going to try that...

[2015-08-25 19:24] bzkdjc commented on #574
Hoping that this will not be cuase of trouble here:
![sync android sdks_129](https://cloud.githubusercontent.com/assets/13347655/9476918/d6a0f43a-4b5e-11e5-9220-a6c82db23895.png)

[2015-08-25 19:24] mikepenz commented on #574
@bzkdjc no. just a different path of my sdk. it's ok

[2015-08-25 19:26] bzkdjc commented on #574
Yes!
That version does compile successfully :)

[2015-08-25 19:27] mikepenz commented on #574
@bzkdjc you can check. no differences in the gradle. right?

[2015-08-25 19:27] RubenGees opened #585 "withFireOnInitialOnClick not working as expected"
Hi Mike, I recently started a new App and came across the following problem: It might have been asked before or came up with v4.0, I don't know.

When I set withFiroOnInitalOnClick to true, I expect the callback to be called when I start the Activity (Drawer Creation is in onCreate). That part is working. But when I do an orientation change and the Activity is recreated the callback is called agai

[2015-08-25 19:27] RubenGees opened #586 "withFireOnInitialOnClick not working as expected"
Hi Mike, I recently started a new App and came across the following problem: It might have been asked before or came up with v4.0, I don't know.

When I set withFireOnInitialOnClick to true, I expect the callback to be called when I start the Activity (Drawer Creation is in onCreate). That part is working. But when I do an orientation change and the Activity is recreated the callback is called aga

[2015-08-25 19:28] bzkdjc commented on #574
Yes! Then, what's up with previous version??

[2015-08-25 19:28] RubenGees commented on #585
Sorry for the repost... :D

[2015-08-25 19:28] mikepenz commented on #585
@RubenGees this is the correct behavior. a orientation change recreates the activity so it's also an initial launch :D

oO duplicate. where did you find the answer?

[2015-08-25 19:28] bzkdjc commented on #574
And can I move to your latest 4.0.1??

[2015-08-25 19:28] #586 closed

[2015-08-25 19:29] mikepenz commented on #574
@bzkdjc yes you can update to the latest.

i still do not know why it is / was not compiling for you

[2015-08-25 19:30] mikepenz commented on #585
@RubenGees please talk here :D

[2015-08-25 19:31] stefandb opened #587 "appcompat-v7:23 problem"
Hi,

I get those errors when I add the Provide the gradle dependency code to my gradle file.
[code]

stackoverflow says that I have to change my appcompat version to 22+ But I have this in my gradle file "compile 'com.android.support:appcompat-v7:21.0.3'". When I remove the MaterialDrawer from my gradle file. I can install the app successful on my android phone.

What can I do the fix this problem

[2015-08-25 19:31] mikepenz commented on #587
@stefandb v4.0.0 uses the appcompat v23. you have to update to v23. Else you have to use a version prior v4.

[2015-08-25 19:32] RubenGees commented on #585
Hmm, okay, so I have to manually set a flag or something to prevent the callback to be called twice? I do some loading in the callback, which I want to avoid to do twice and it is not very clean of course...
I thought savedInstanceStates are exactly for such purposes?

Sorry for the confusion :D

[2015-08-25 19:32] bzkdjc commented on #574
FontAwesome now appears OK.
Just move to v4.0.1 OK.
Now all's good!

[2015-08-25 19:33] bzkdjc commented on #574
Thank you very much for your time :)

[2015-08-25 19:34] #574 closed

[2015-08-25 19:34] mikepenz commented on #585
the thing is that everything specific to the ui is recreated when you turn the device. so i call the callback again so devs can also recreate selection specific stuff (like setting a fragment)
if you do not want this in your case you have to remember that it was already called

[2015-08-25 19:35] mikepenz commented on #574
@bzkdjc thank you so much that you did not go crazy :D and sorry for the issues. and sorry that i still do not really know what'S the problem :O

[2015-08-25 19:36] RubenGees commented on #585
Okay, makes sense. Thank you once again for your answer!

[2015-08-25 19:36] #585 closed

[2015-08-25 20:11] jansallads opened #588 "(Mini)Drawer width"
Hi,

is there a quick way to change the width of the Drawer? Especially the MiniDrawer would be interesting to me, as I'd like to see it a bit slimmer for my use of it.

Thanks in advance & props for your awesome library!

[2015-08-25 20:12] mikepenz commented on #588
@jansallads at the moment it has a fixed size. you will be only able to make it slimmer by overwriting the dimens attributes i have set

[2015-08-25 20:25] jansallads commented on #588
I found the attribute, is there any way I can overwrite it on runtime or do I have to make a fork of your library for this and edit it there?

[2015-08-25 20:26] mikepenz commented on #588
@jansallads you can define the dimen attributes in your project inside a dimens.xml and overwrite those values. (you can do the same for the layouts of the lib)

[2015-08-25 20:26] jansallads commented on #588
Awesome, did not know of that, thanks!

[2015-08-25 21:00] JulienLeal opened #589 "Cannot resolve method withDisplayBelowToolbar(boolean):"
Hi. I'm using your library currently.Although this method is in your documentation,  I can't find the method withDisplayBelowToolbar(boolean) in DrawerBuilder.class :
![aih3g0v](https://cloud.githubusercontent.com/assets/2480842/9476158/a9e698d6-4b41-11e5-859d-1250923aff3a.png)

Look my error :
![screenshot_1](https://cloud.githubusercontent.com/assets/2480842/9476256/0c3f302e-4b42-11e5-8a89-0b014

[2015-08-25 21:01] mikepenz commented on #589
https://github.com/mikepenz/MaterialDrawer/issues/579

[2015-08-25 21:01] #589 closed

[2015-08-25 21:02] #587 closed

[2015-08-25 21:02] #588 closed

[2015-08-25 21:03] mikepenz commented on #588
@jansallads you will also have to modify the `material_drawer_item_mini.xml` and `material_drawer_item_mini_profile.xml` as those are also have the defined width

[2015-08-25 21:04] jansallads commented on #588
Alright, also with creating files with the same name to overwrite the default values?

[2015-08-25 21:05] mikepenz commented on #588
@jansallads correct ;). Also do not miss this one: https://github.com/mikepenz/MaterialDrawer/blob/develop/app/src/main/java/com/mikepenz/materialdrawer/app/MiniDrawerActivity.java#L149

[2015-08-25 21:05] jansallads commented on #588
Perfect, thanks for your support! :-) :+1:

[2015-08-25 21:06] mikepenz commented on #588
:+1: i try my best

[2015-08-26 09:06] livotov opened #591 "NullPointerException when adding sticky footer item programmatically"
Hi and thanks for the great library !

We're getting strange exception when adding sticky footer items into  the just created drawer - the following code

[code]

results to the following exception on the first appDrawer.addStickyFooterItem call:
[code]

however, if we  move adding sticky items into the drawer builder, everything works just fine. Are we doing something wrong with sticky footer ite

[2015-08-26 09:10] mikepenz commented on #591
@livotov seems to be an exception. will take a look at it later today. I assume that i try to use the `Context` which is available during the build process, but not after it was builded.

[2015-08-26 09:15] livotov commented on #157
Suppose we can use some kind of custom account header builder, which will build the profiles list with accounts, taken from the system. Most likely we'll be doing that in our app, so if there are no objectives from the @mikepenz , I can create a pull request then (when we're finished with this)

[2015-08-26 09:17] Grozny opened #592 "Differences"
Hi and thanks for the great library.

What are the differences between `withOnDrawerListener`, `withOnDrawerItemClickListener` and `withOnDrawerItemSelectedListener`, DrawerBuilder methods?
The wiki could be more specific and updated.

Thanks

[2015-08-26 10:02] mikepenz commented on #592
`withOnDrawerListener`
https://github.com/mikepenz/MaterialDrawer/blob/develop/library/src/main/java/com/mikepenz/materialdrawer/DrawerBuilder.java#L1185
https://github.com/mikepenz/MaterialDrawer/blob/develop/library/src/main/java/com/mikepenz/materialdrawer/DrawerBuilder.java#L1229
* defines the callbacks for open/close/slide of the drawer (if you implement it the listener should speak by itself

[2015-08-26 10:02] #592 closed

[2015-08-26 10:03] mikepenz commented on #157
@livotov at the moment i have no plans. but sounds awesome ;)

Let me know if you have something

[2015-08-26 10:17] Grozny commented on #592
when i call result.setSelection(0/*identifier*/) will trigger any callback?

2015-08-26 11:02 GMT+01:00 Mike Penz <notifications@github.com>:

[2015-08-26 11:00] mikepenz commented on #592
@Grozny no. just if you force it  https://github.com/mikepenz/MaterialDrawer#selecting-an-item

[2015-08-26 13:01] mdhrchi opened #593 "Change DrawerItems typeFace?"
Hi. I saw a similar question long ago and you said you will make method for that. Did you do that in this new version? If not please show me how to change item's typeface.

[2015-08-26 13:41] mikepenz commented on #593
@mdhrchi you can theoretically modify a items view via the `PostOnBindViewListener`

set it with `withPostOnBindViewListener`

[2015-08-26 13:41] #593 closed

[2015-08-26 13:56] ProgrammerBassam opened #594 "RTL support for minidrawer"
sorry for my bad English but I'm trying to set minidrawer in the right by using this command
`getWindow().getDecorView().setLayoutDirection(View.LAYOUT_DIRECTION_RTL);`

but it doesn't appear

[2015-08-26 14:48] fernandodeveloper opened #595 "Erro Error:Failed to resolve: Android-Iconics:iconics-core:unspecified"
Hello,

Show erro ao use Iconics

Error:Failed to resolve: Android-Iconics:iconics-core:unspecified

build.gradle is

[code]

[2015-08-26 15:16] mikepenz commented on #595
@fernandodeveloper someone else already had the same issue. but i was not able to find out what's failing :/

https://github.com/mikepenz/MaterialDrawer/issues/574

[2015-08-26 15:17] mikepenz commented on #594
@ProgrammerBassam what do you want to achieve?

[2015-08-26 15:37] AngleV opened #596 "BadgeStyle with custom font"
is it possible ?

[2015-08-26 16:09] #591 closed

[2015-08-26 16:11] mikepenz commented on #596
@AngleV if you really need this you can either implement your own CustomDrawerItem which supports this. Or you overwrite the layout of the PrimaryDrawerItem and define a font for your badge (https://github.com/mikepenz/MaterialDrawer/blob/develop/library/src/main/res/layout/material_drawer_item_primary.xml#L67)

[2015-08-26 16:11] #596 closed

[2015-08-26 16:16] AngleV commented on #596
@mikepenz

Thanks.
Any short guide how to override the layout of PrimaryDrawerItem ???

[2015-08-26 16:17] mikepenz commented on #596
copy and paste the layout and modify it to your needs (keep the name the same)
(if you do this, make sure to update it on your side if there are changes in the future)

[2015-08-26 16:20] AngleV commented on #596
@mikepenz

I am missing something here.
I am using your lib as package.
if i copy and paste the layout how it will work ?

[2015-08-26 16:21] mikepenz commented on #596
@AngleV you still have access to the soruce via github.

the build will then just use the layout of your project as it has the same ID

[2015-08-26 16:28] AngleV commented on #596
@mikepenz
Awesome !!!!!!!!!!!!!!

Did know that.
Many thanks for the tip

[2015-08-26 16:41] ProgrammerBassam commented on #594
![screenshot_ - - - - -](https://cloud.githubusercontent.com/assets/7253737/9499818/60c68ed8-4c2a-11e5-8528-39c879f323b0.png)
My Activity Look like when I'm using minidrawer

[2015-08-26 16:43] ProgrammerBassam commented on #594
![screenshot_ - - - - -](https://cloud.githubusercontent.com/assets/7253737/9499866/b0d52eac-4c2a-11e5-836b-c21949d27245.png)

[2015-08-26 17:04] fernandodeveloper commented on #595
hehe, it's crazy!

@mikepenz  This is output complete

Error:A problem occurred configuring project ':app'.

     Searched in the following locations:
         https://jcenter.bintray.com/Android-Iconics/iconics-core/unspecified/iconics-core-unspecified.pom
         https://jcenter.bintray.com/Android-Iconics/iconics-core/unspecified/iconics-core-unspecified.jar
         https://repo1.maven.org/ma

[2015-08-26 17:16] mikepenz commented on #595
@fernandodeveloper exact the same output.
would it build with the GoogleMaterial dependency alone?

[2015-08-26 17:40] mikepenz commented on #594
@ProgrammerBassam i just published an update to the `Crossfader` library which is used to do the animation from mini to the normal drawer. it currently syncs to mavencentral so it will be available in the next 30 minutes. This update will improve the RTL feature.

https://github.com/mikepenz/Crossfader/releases

[2015-08-26 17:40] #594 closed

[2015-08-26 17:47] ProgrammerBassam commented on #594
Thanks A lot!!
But I'm using minidrawer, Is That update will work well with  minidrawer?
Sorry again for my bad English

[2015-08-26 17:47] mikepenz commented on #594
@ProgrammerBassam as i understood your screenshorts correctly you use the MiniDrawer as shown in the `MiniDrawerActivity` (of the sample) this one uses the `Crossfader` library to do the crossfade effect.

[2015-08-26 18:19] ProgrammerBassam opened #597 "New Problem with RTL :)"
![screenshot_2015-08-26-21-16-10](https://cloud.githubusercontent.com/assets/7253737/9502103/df352268-4c37-11e5-87d2-51edabf4441e.png)
![screenshot_ - - - - -](https://cloud.githubusercontent.com/assets/7253737/9502102/df353276-4c37-11e5-8020-c94b165e9665.png)
I hope u understand the problem from the ScreenShots :)

[2015-08-26 18:32] mikepenz commented on #595
@fernandodeveloper found the issues. and now i know why it only happens for some people.

The difference between my gradle and dependencies and yours is that i always add `@aar` for Android libs. This (i believe) tells gradle to handle the dependency a bit different. (if i'm correct it sets `transitive: false` in the background) (so it is working for most people as it is also written with `@aar` i

[2015-08-26 18:33] #595 closed

[2015-08-26 18:33] mikepenz commented on #574
@bzkdjc found the issues. and now i know why it only happens for some people.

The difference between my gradle and dependencies and yours is that i always add `@aar` for Android libs. This (i believe) tells gradle to handle the dependency a bit different. (if i'm correct it sets `transitive: false` in the background) (so it is working for most people as it is also written with `@aar` in the readm

[2015-08-26 18:34] mikepenz commented on #597
@ProgrammerBassam no shadow :P

[2015-08-26 18:39] ProgrammerBassam commented on #597
Yeap :)

[2015-08-26 19:12] simonckenyon commented on #587
i would love to use v4 but appcompat v23 has problems with httpclient.
does the library depend on anything specific in v23 or will it work with v22?

[2015-08-26 19:35] mikepenz commented on #587
@simonckenyon it will work with previous versions but you have to explicitly exclude the v23 support dependencies of the MaterialDrawer (and the sub libs)

[2015-08-26 19:37] mikepenz commented on #587
[code]

i think something like this should do the job

[2015-08-26 20:00] #584 closed

[2015-08-26 20:00] #597 closed

[2015-08-26 20:10] mikepenz commented on #597
@ProgrammerBassam there is now a new API on the MiniDrawer to enable RTL

[2015-08-26 22:40] GYberkeley opened #598 "[Question] Need help upgrading from a previous version"
Hey Mike! I was previously on 3.1.2 and tried to upgrade to the new version and got this funny little bug when I changed the gradle to the latest:

http://imgur.com/rrWZiQ0

How can I fix this?

EDIT: Is it possible that the latest version of MaterialDrawer needs SDK 23?

[2015-08-26 23:03] singhdd93 commented on #598
Yes the latest version needs 23 as compileSDKVersion

[2015-08-27 06:08] mikepenz commented on #598
@singhdd93 yeah it needs it because of the latest `appcompat` libs from google. Will add it

[2015-08-27 06:10] mikepenz commented on #598
Added to the migration guide

[2015-08-27 06:10] #598 closed

[2015-08-27 06:53] simonckenyon commented on #587
oh excellent. will try that now.

[2015-08-27 07:10] rajazeeshanahmed opened #599 "How to use navigation Drawer with Activities?"
I've settings and help activity not fragment which i want to open from the navigation drawer items click. Activity started with the simple startactivity method but does not close and restarted on back press time and again. Fragment transaction with the navigation drawer are working perfectly fine but I need a combined flavor of both activities and fragments. Please help.

[2015-08-27 07:11] mikepenz commented on #599
what should be closed and restarted?

i have activities in the sample?

[2015-08-27 07:11] #599 closed

[2015-08-27 07:12] stefandb commented on #587
Your solution works.
Thank you

[2015-08-27 07:24] rajazeeshanahmed commented on #599
Let me write the complete scenario.

1) Main activity contains the navigation drawer
2) Select the logout button from the navigation drawer which close the main activity and start the login activity.
3) enter the login credentials and click login button, on successful login I finish the login activity and start the main activity but it again start the login activity without any reason.
4) If I clo

[2015-08-27 07:27] mikepenz commented on #599
@rajazeeshanahmed this is nothing MaterialDrawer specific then. This is normal android activity / navigation handling

[2015-08-27 07:30] rajazeeshanahmed commented on #599
It is due to material Drawer, as other activity are working fine which started without the navigation drawer items click. and only the main activity which has the navigation drawer is creating problem.

[2015-08-27 07:42] bohoffi opened #600 "Sync scroll states/positions when using MiniDrawer"
I've noticed that the scroll states or let me say the scroll positions between mini mode and normal/expanded mode are not synced.
![screenshot_2015-08-27-09-38-58](https://cloud.githubusercontent.com/assets/9944566/9515135/a22e4fa8-4c9f-11e5-8e10-1b0369e3a410.png)
![screenshot_2015-08-27-09-39-10](https://cloud.githubusercontent.com/assets/9944566/9515134/a2298cac-4c9f-11e5-96d8-6ca11a367374.png)

[2015-08-27 07:48] mychaelgo opened #601 "Update from 3.07 to 4.0.2"
I want to update the material library to 4.0.2

but when i sync the gradle file, i get error:
[code]

my build.gradle

[code]

[2015-08-27 07:56] singhdd93 opened #602 "Wrong Link for Migration.md in Readme.md in develop branch"
Link is https://github.com/mikepenz/MaterialDrawer/blob/feature/refactoring/MIGRATION.md
but should be https://github.com/mikepenz/MaterialDrawer/blob/develop/MIGRATION.md

[2015-08-27 09:42] mikepenz commented on #600
@bohoffi this can be done by the dev who's implementing it. the `MiniDrawer` and normal `Drawer` are not linked together very deep. Their connection happens via the public useable APIs and listeners. So if you would love this, use the RecyclerView of the `MiniDrawer` and the one from the `Drawer` and listen to the scroll. Make also sure that the height is different as the `MiniDrawer` just shows `

[2015-08-27 09:44] mikepenz commented on #601
you use the newest build tools, newest gradle plugin, compile sdk 23?

[2015-08-27 09:44] mikepenz commented on #602
@singhdd93 oops. thanks ;)

[2015-08-27 09:44] #602 closed

[2015-08-27 11:23] NorbertSzydlowski opened #603 "Custom layout with PrimaryDrawerItem"
Can you help me with custom layout with DrawerItem.

I did @Override
    public int getLayoutRes() {
        return R.layout.drawer_primary;
    }

on previous version.

[2015-08-27 11:32] mychaelgo commented on #601
@mikepenz  yes, my android studio ver 1.3.2, targetSdkVersion 23, compileSdkVersion 23, buildToolsVersion "23.0.0" and
[code]

[2015-08-27 12:32] mikepenz commented on #601
Clean / Resync / Rebuild did not help?

[2015-08-27 12:41] mychaelgo commented on #601
@mikepenz  yeah, i just create new project & same problem

![screen shot 2015-08-27 at 7 41 32 pm](https://cloud.githubusercontent.com/assets/4651658/9520694/841e0d9c-4cf3-11e5-8e33-9cee0c15271c.png)

[2015-08-27 12:58] mikepenz commented on #601
@mychaelgo oops the
[code]
is the problem. as it also removes a dependency which is required. (https://github.com/mikepenz/Materialize)

If you add:
[code]
it will work.

Else you can modify the exclude to just exclude the `Android-Iconics` Dependency

[2015-08-27 12:58] #601 closed

[2015-08-27 13:09] mikepenz commented on #603
@NorbertSzydlowski you can also just copy and paste the original xml (with the same name) into your project and it will use this one then (https://github.com/mikepenz/MaterialDrawer/blob/develop/library/src/main/res/layout/material_drawer_item_primary.xml)

Or you implement a complete CustomDrawerItem
The method is the same (https://github.com/mikepenz/MaterialDrawer/blob/develop/library/src/main/

[2015-08-27 13:09] #603 closed

[2015-08-27 13:39] mychaelgo commented on #601
@mikepenz  ok  thank you

[2015-08-27 14:08] mychaelgo opened #604 "Margin on stickyFooterItem"
I found some different view on app demo

on my android 5.0

![screenshot_2015-08-27-21-05-23](https://cloud.githubusercontent.com/assets/4651658/9522533/91a59b04-4cff-11e5-8083-9094ac1fb00a.png)

on my android 4.1.2

![screenshot_2015-08-27-21-03-52](https://cloud.githubusercontent.com/assets/4651658/9522552/a81aa8a2-4cff-11e5-8d52-f21fc6822ac4.png)

[2015-08-27 14:09] mikepenz commented on #604
ah i hate this api level. it simply breaks the padding somehow. will look at it

[2015-08-27 14:11] mychaelgo commented on #604
@mikepenz  but when i use the version 3.0.7 in my project, it work fine for footer item margin in different OS :)

[2015-08-27 14:36] mikepenz commented on #604
@mychaelgo the layout was completely redone with v4.0.0 and yeah this is probably the root cause for this

[2015-08-27 15:04] ersen-osman opened #605 "How do i inflate a layout for the Account header"
Is ok to ask some questions here?

I would like to use my own layout for the Accout Header

My code is like this
[code]

This is not working, however the documentation says to see drawer.xml but i cannot find it .

[2015-08-27 15:06] mikepenz commented on #605
This is the layout for the header: https://github.com/mikepenz/MaterialDrawer/blob/develop/library/src/main/res/layout/material_drawer_header.xml

If you want a different layout it requires to have the same elements. so not all can be changed. if you want a completely different layout you will have to create your own header

[2015-08-27 15:06] #605 closed

[2015-08-27 15:12] ersen-osman commented on #605
Hi, thank you for the quickly reply. So is it possible for me to remove material_drawer_account_header_text_switcher? I do not need it. Plus i wish to use a different library for the circle image view.

Could you point me to where i may find out more about creating my own header?

[2015-08-27 15:14] #604 closed

[2015-08-27 15:15] mikepenz commented on #605
@ersen-osman no this is not possible.

This means you will have to create a completely own headerview. etc... this will require you to redo the whole logic done in the `AccountHeader` i assume that's not what you want.

[2015-08-27 15:16] #600 closed

[2015-08-27 15:23] mikepenz commented on #605
Sorry that this can't easily be done.

You can hide the `material_drawer_account_header_text_switcher` but you can't change to a different circleImageView

[2015-08-27 15:45] Rox- opened #606 "Drawer below toolbar"
Is it possible to have drawer below toolbar?
I want that to see animated hamburger-->back arrow icons

[2015-08-27 15:46] mikepenz commented on #606
https://github.com/mikepenz/MaterialDrawer/issues/579

[2015-08-27 15:46] #606 closed

[2015-08-27 17:21] mikepenz commented on #604
@mychaelgo fixed in v4.0.3

[2015-08-27 18:24] AngleV opened #607 "BadgeStyle.withBadgeBackground issue"
when i set it i get a strange issue.
See screenshot
![device-2015-08-27-212108](https://cloud.githubusercontent.com/assets/7430985/9529270/016604f4-4d02-11e5-86b3-854d9b710def.png)

[2015-08-27 18:26] mikepenz commented on #607
@AngleV how does the image you set look like?

[2015-08-27 18:33] AngleV commented on #607
i have override your material_drawer_item_primary.xml and instead of TextView i am using my custom TextView with custom TypeFace.

so good so far.

If all Badges have the same length it works good.
By the time a badge get a 3 digit length i got what you can see in the screenshot above.

the background of the Badge is the following.

![screenshot_2015-08-27_21-31-41](https://cloud.githubusercontent

[2015-08-27 18:36] AngleV commented on #607
Correct View. Notice that all badges got 2 digits length

![screenshot1](https://cloud.githubusercontent.com/assets/7430985/9529559/ab74152a-4d03-11e5-89f3-77c912c5eb77.png)

[2015-08-27 18:49] mikepenz commented on #607
i assume that happens because you share the same drawable for all your badges. and if one is transformed wrong the others will too. i am sorry, but this isn't MaterialDrawer specific. i think this does not happen with the original Badge. which will also allow you to have it completely round.

[2015-08-27 19:13] AngleV commented on #607
Yes with the original Badge it works fine !!
Thank you

[2015-08-27 19:13] #607 closed

[2015-08-28 01:04] mychaelgo commented on #604
@mikepenz ok i will try

[2015-08-28 01:46] mychaelgo opened #608 "Question: colorValue"
what item name i should override in my styles.xml if i want to change the color of toolbar header ?
I use parent theme : MaterialDrawerTheme.Light.TranslucentStatus

[2015-08-28 06:21] mikepenz commented on #608
Which toolbar?

https://github.com/mikepenz/MaterialDrawer/blob/develop/app/src/main/res/values/styles.xml#L4

[2015-08-28 06:21] #608 closed

[2015-08-28 06:55] mychaelgo commented on #608
@mikepenz  i have define toolbar.xml

[code]

So u want to change the title color to red

[2015-08-28 16:30] AlpenDitrix commented on #608
@mychaelgo so you defined toolbar's color as `android:background="@color/white"` white. If you want to bind this color to theme -- then you need to use there one of previously defined colors (e.g. here https://github.com/mikepenz/MaterialDrawer/blob/develop/app/src/main/res/layout/activity_sample.xml is used `colorPrimary`)
you may link it as `?attr/` of theme or as just any `@color/`.

Or even yo

[2015-08-28 17:03] AlpenDitrix opened #609 ".updateSmth(...) actually slow"
Without introduction: I have a Drawer with a long items list and all of them have badges. And I need to update all the badges sometimes (I'm recieving a JSON with new values and setting them in foreach cycle using `updateBadge` method)

But I faced a problem, that it's pretty slow solution. That all about milliseconds of course, but I can see a lag on animation.
As I think there's two problem:
1.

[2015-08-28 17:12] jekopena opened #610 "Smaller icons"
Hi, is there any way to make the icons of a PrimaryDrawerItem smaller?

[2015-08-28 19:16] mikepenz commented on #610
@jekopena you can either modify the dimensions used for the PrimaryDrawerItem, or pass an icon which has more padding, or you create your own CustomDrawerItem which has a different Icon size

[2015-08-28 19:17] enginegl opened #611 "drawerItem.getName() returns "null""
Hello!
When I tried to add a primary drawer item like
[code]

[2015-08-28 19:20] mikepenz commented on #611
@enginegl open the `StringHolder` variable which is shown in your screenshot. You will see the identifier value inside is set. Just the `toString()` method displays null. the StringHolder has separat methods to get the text out again

[2015-08-28 19:24] jekopena commented on #610
Cool, I'll try that, thanks!

[2015-08-28 19:24] #610 closed

[2015-08-28 19:24] enginegl commented on #611
StringHolder.getText(ctx) works fine, thanks!

[2015-08-28 19:24] #611 closed

[2015-08-28 19:25] mikepenz commented on #611
@enginegl the StringHolder is great because it does not need a context to define the text. only when you need it to set it on a view (and a view has a context)

[2015-08-29 00:50] mychaelgo commented on #608
@AlpenDitrix  i want the background is white and the text color is red, in my phone, the background change to white but the title color in toolbar is white too

[2015-08-29 01:54] AlpenDitrix commented on #608
@mychaelgo ah, sorry, misunderstood you

    <android.support.v7.widget.Toolbar
        xmlns:app="http://schemas.android.com/apk/res-auto"
        ...
        app:titleTextColor="@color/colorPrimary"
        ....
    />`

[2015-08-29 07:50] mikepenz commented on #608
@AlpenDitrix thanks for answering

[2015-08-29 08:08] mikepenz commented on #609
@AlpenDitrix thanks for the detailed report.

You mentioned you have to search for the position all the time. If you use the `identifier` which is highly recommend you can directly use `updateItem` and set the `IDrawerItem` which will do the following:
First it will get the position for this item, then it will make sure there is an item at this position, and if yes it will set the item to the adap

[2015-08-29 10:07] AlpenDitrix commented on #609
Hmmm, yep. Don't know how did I missed "updateItem".
Thanks for answer.

[2015-08-29 10:07] #609 closed

[2015-08-29 16:26] hishamBakr opened #613 "PrimaryDrawerItem is not displayed correctly when using RTL"
Thank you for great work.
I have an issue that PrimaryDrawerItem is not displayed correctly when using RTL

I made a quick fix by editing material_drawer_item_primary.xml to be:

in material_drawer_name, I changed paddingRight to paddingEnd

also when there is no icon, it space should be maintained so you should set visibility to be invisible not GONE.  As a work around for now, I wrapped image in

[2015-08-29 18:36] AngleV opened #614 "update Description method"
i am trying to update an item's descritpion but i can not find any method

Any idea ?

[2015-08-29 18:36] mikepenz commented on #614
@AngleV https://github.com/mikepenz/MaterialDrawer#modify-items-or-the-drawer

[2015-08-29 18:36] #614 closed

[2015-08-30 09:24] wayne1203 opened #615 "Can I remove the arrow right of account email??"
Thank you for your awesome work.
It's work fine with my app but I have a question about the account header.

Can I remove the arrow (Account switcher) if user have one account only?

Thank you.

[2015-08-30 09:26] mikepenz commented on #615
@wayne1203 yes you can.

[code]

[2015-08-30 12:45] MatteCarra opened #616 "SwitchDrawerItem can be clicked and selected"
SwitchDrawerItem can be clicked and selected!
I think that this isn't normal.
![cattura](https://cloud.githubusercontent.com/assets/11074527/9567297/b9d7e47e-4f25-11e5-8b71-e2ba3ecd91ff.PNG)

[2015-08-30 12:46] mikepenz commented on #616
@MatteCarra  you can disable this: `withSelectable(false)`

[2015-08-30 12:46] #616 closed

[2015-08-30 14:23] davideas commented on #487
Hi Mike, the shadow of MiniDrawer is visible only when closed, not ok in my opinion. It should be part of the drawer itself so when you drag it, shadow is always moved together. Could you fix it?

[2015-08-31 11:10] Namolem opened #617 "Is it possible to remove circle effect on account's image?"

[2015-08-31 16:16] mikepenz commented on #613
@hishamBakr as of the MaterialDesign guidelines the text should be on the left without icon. see the specification here: https://www.google.com/design/spec/layout/metrics-keylines.html#metrics-keylines-keylines-spacing

![layout_metrics_keyline_mobile15](https://cloud.githubusercontent.com/assets/1476232/9583553/59bf26d2-500c-11e5-8dfa-bf1b68561804.png)

[2015-08-31 16:22] mikepenz commented on #617
@Namolem as of the Material Design Guidelines they should be circle.

You can overwrite the `material_drawer_circle_mask.xml` with a rectangle mask. This will overwrite the circle effect for all images.

for rectangle:
[code]

[2015-08-31 16:22] #617 closed

[2015-08-31 16:23] #613 closed

[2015-09-01 07:35] VeeruPV commented on #165
I guess what the OP meant was, Drawer Item tapped event gets fired multiple times, in fact in a loop hanging the app. This is because of the old code where setSelection(drawreItem) was used. The new version, from my understanding re-fires the event on setSelection() cause an indefinite loop.

The setSelection() is not needed anymore.

Thanks

[2015-09-01 07:39] mikepenz commented on #165
@VeeruPV i never had any problems with set selection. do you have problems with it?

[2015-09-01 10:45] Namolem commented on #617
Thanks, but it still has round shadow..

[2015-09-01 17:49] Anatidae-Project commented on #157
In about a month, I'll be doing an OAuth using Google's login services. I'll try and do all my stuff in a stand-alone module and put it up for others. I'll be using this drawer (best repo out there, thanks Mike!).

[2015-09-01 17:52] mikepenz commented on #157
@Anatidae-Project would be great if you could do it as additional modul here so more people will see it and it is easier to keep it up to date and in sync with the upstream MaterialDrawer

[2015-09-01 20:24] mikepenz commented on #617
@Namolem there is now a clean solution how to do this :D

You can define a global style which will define how the BezelImageView will look for the drawer (this is included starting with v4.0.4 (v4.0.5 is now available))

[code]

https://github.com/mikepenz/MaterialDrawer/blob/develop/app/src/main/res/values/styles.xml#L28

[2015-09-02 10:58] Namolem commented on #617
Also have a requirement to add a "Logout" button to the right of account info.
Did it by forking and rewriting your lib. Seems dirty for me. Is there any other way?

![c545gvzaa8pejyxt](https://cloud.githubusercontent.com/assets/3646265/9629340/95ba1876-517a-11e5-9caa-2c3852a00fa5.png)

[2015-09-02 11:22] mikepenz commented on #617
@Namolem no other solution for this. if you want it in the header. sorry.

Else i would highly recommend to don't place it in the header. look at apps like Gmail etc. place it either in the AccountSwitcher (with the arrow down) or you can also do a normal drawerItem (SecondaryDrawerItem) with this actionl.

Seems wrong in the header.

[2015-09-02 12:27] rams23 opened #618 "OnDrawerListener not working"
Hi, sorry for question.
I read another issue like this that was resolved but i still have the same problem.
Here my code:
[code]
Thanks for your time.

[2015-09-02 12:47] Namolem commented on #617
Yes, i know. But its customer will(
Thank you

[2015-09-02 13:49] mikepenz commented on #618
@rams23 what is not working. what do you expect?

[2015-09-02 14:14] rams23 commented on #618
I expect to see Toast after drawer closing if I correctly understood the functionality. I'm using a runnable to smoothly close the drawer and change fragment only when drawer is closed. Thanks for the answer

[2015-09-02 16:46] mikepenz commented on #618
@rams23 you can already define a delay how long the drawer should stay open before it closes when you do expensive stuff. no need for custom handling.

about your code. i'm not really sure if this could actually work with the runnable below. :/

Regarding the listener. It should work. I also use it inside the `MultiDrawerActivity` and it shows up there. (you can try it in the sample app) https://g

[2015-09-02 16:46] #618 closed

[2015-09-02 16:50] mikepenz commented on #617
@Namolem theoretically you can also just overwrite the header layout. (copy and paste this into your application: https://github.com/mikepenz/MaterialDrawer/blob/develop/library/src/main/res/layout/material_drawer_header.xml keep the name as the build will automatically overwrite the same named layout from the lib)

then modify this one to your needs and add this button. just make sure that you do

[2015-09-02 17:30] douglasjunior commented on #510
To change textSize I created a item on my `dimens.xml`:
[code]
Works for me.

[2015-09-02 19:24] Ne1c opened #619 "How to insert item?"
How to insert item into other items?

[2015-09-02 21:16] MedoElkamaly opened #620 "Delay OnDrawerItemClickListener"
First thanks so much for this great library.
My question is: is there is a way to close the drawer first then open the activity on an item click?

[2015-09-03 11:25] echthard commented on #620
Or close the drawer smoothly, because sometimes when fragment loading takes some time or resources, not sure what the reason is at the moment. Then the drawer will close with .. uhhm .. "hik ups" (not smoothly).

[2015-09-03 13:16] FWest98 opened #621 "Documentation on how to implement MiniDrawer?"
It would be nice to have some documentation on how to implement the MiniDrawer. At the moment the example code also uses some classes I don't have in my project because it's importing crossfader....
Also it doesn't show things like:
- Minidrawer only on tablets
- Hide on backpress
- Normal drawer still as overlay so content doesn't move
- Co-operation with actionbardrawertoggle

[2015-09-03 20:25] Ne1c opened #622 "Update profile doesn't work"
Update profile doen't work. I try change profile in this manner:
[code]
And this:
[code]

But it still does not work.

[2015-09-04 06:57] mikepenz commented on #622
@Ne1c have you defined an identifier for the Profile? Just keep a reference to the object you pass to the AccountHeader and then change the name. and then update it via the identifier

[2015-09-04 06:57] #622 closed

[2015-09-04 06:58] mikepenz commented on #619
https://github.com/mikepenz/MaterialDrawer/blob/develop/library/src/main/java/com/mikepenz/materialdrawer/Drawer.java#L568

[2015-09-04 06:58] #619 closed

[2015-09-04 07:00] mikepenz commented on #620
@MedoElkamaly there is the implementation to delay the closing of the drawer. you can also define the delay.

If you want it the other way around you should set the delay to 0 and then handle the delay on your own. with a handler or in a similar way

[2015-09-04 07:00] #620 closed

[2015-09-04 07:02] mikepenz commented on #621
@FWest98 it requires the `Crossfader`

* Only on tablets that's up to you no limitation from my side.
* you can use the `Crossfader` and just crossfade
* Normal drawer still as overlay will require some custom code from your. it's possible but no default behavior
* working with ActionbarDrawerToggle is not required from my side as you can just hook in the methods via the normal `Drawer` by providi

[2015-09-04 07:02] #621 closed

[2015-09-04 08:19] simonckenyon opened #623 "documentation"
this is *not* a criticism, it is an offer of help.

i look at every issue that is raised. about 80-90% of them could be resolved with some (dare i say it) better documentation. this is a very good piece of software, but i do think it is let down by the documentation.

for me, the best way to tackle something like this is to agree on the table of contents. with that in place, the structure could be

[2015-09-04 08:31] mikepenz commented on #623
@simonckenyon i know. and i see that the basic documentation only contains features/stuff which i would describe as "basic" functionality.

The bad thing about this is that i spend a lot of time already implementing and fixing and answering this library, creating and keeping a documentation up 2 date would require an additional huge amount of work.
The main issue i do not understand is that people

[2015-09-04 09:10] Ne1c commented on #622
I created `IProfile mMainProfile = new ProfileDrawerItem();`
And i try used method setActiveProfile(mMainProfile) and try change profile, but it doesn't work.

[2015-09-04 09:30] mikepenz commented on #622
First you should define an identifier for the profile. and then you can set the profile as active profile. but you can't just set a new profile as active one. see the sample app for this.

[2015-09-05 07:48] bmelnychuk opened #624 "NavigationBar and Full Screen in landscape mode"
I want to hide status bar and navigation bar in my activity. Also I want to have drawer there. Everything works fine in portrait mode. But after rotation to landscape this blue line appears(see attached screenshot). I believe this is margin or padding. Do you have any ideas where it comes from?
And if I remove drawer everything works fine.
Thank you for great library!
![drawer_landscape](https://c

[2015-09-05 20:26] mikepenz commented on #624
@bmelnychuk have you enabled fullscreen view like shown in the fullscreen activity?

[2015-09-06 04:47] jamespizzurro opened #626 "Drawer.setToolbar only works once"
Setting the drawer's toolbar using the provided Drawer.setToolbar method doesn't seem to work after being called more than once, i.e. if no toolbar is initially specified (using DrawerBuilder.withToolbar) when building the drawer, and subsequently Drawer.setToolbar is called, the first call will succeed, but all subsequent calls will result in the hamburger menu and whatnot not being rendered in t

[2015-09-06 05:02] bmelnychuk commented on #624
yes, I enabled full screen. In your sample app navigation bar (the one on bottom) is transparent in portrait mode, in landscape mode (it appears on right side) it's just there. So I tried to hide it, and get this blue line instead.
Thanks for quick response

[2015-09-06 20:30] mikepenz opened #627 "Badge TextColor wrong"
With the new base classes it seems i mixed up the text colors of the badges somewhere

[2015-09-07 19:54] #624 closed

[2015-09-07 19:54] #626 closed

[2015-09-07 19:54] #627 closed

[2015-09-07 19:57] mikepenz commented on #624
@bmelnychuk there is now a new method to handle this

`withSystemUIHidden(true)`

[2015-09-07 19:58] mikepenz commented on #487
@davideas there is now a new method which allows you to enable the inner shadow on the drawer

[2015-09-08 06:26] ray1984 opened #628 "Can't remove footer shadow divider"
I'd like to remove top divider above sticky footer, but withStickyFooterDivider(false) doesn't work

[code]
![screenshot_2015-09-08-06-22-05](https://cloud.githubusercontent.com/assets/3238570/9727879/52b146d0-560c-11e5-83b2-5fa1312cc0f1.png)

[2015-09-08 09:17] jacobhub opened #629 "MiniDrawer with 'animated hamburger to arrow'"
Hi , is it possible to use the MiniDrawer with an animated 'hamburger to arrow'  icon in action bar ?

[2015-09-08 09:40] mikepenz commented on #629
@jacobhub you can do this. But you will have to handle the logic for the `ActionBarDrawerToggle` on your side.

[2015-09-08 09:40] #629 closed

[2015-09-08 09:43] jacobhub commented on #629
ok, but how ?  I tried changing the MiniDrawer example to show an hamburger icon but with no luck. do you have an example somewhere ?
btw, great library .

[2015-09-08 10:12] rabyunghwa opened #630 "Account header toggle state not saved"
If I have toggled the account list, which shows a drop down list of various accounts, and then I change the device orientation, the account list toggle state would not be properly restored, in which case, the account list is not collapsed.
![device-2015-09-08-180605](https://cloud.githubusercontent.com/assets/7411385/9732262/0d1784a6-5655-11e5-8038-f44d91e52c5a.png)
![device-2015-09-08-180625](htt

[2015-09-08 10:57] mikepenz commented on #630
Ah i see the issue only happens if you rotate the screen but you had opened the account list

[2015-09-08 10:58] mikepenz commented on #629
You will have to add the `ActionBarDrawerToggle` to the toolbar and hook to it with listeners. I do not know exactly if this works because this is out of scope of this library.

[2015-09-08 13:48] rabyunghwa commented on #630
Yes dude. What I did was: first in AccountHeader class  of the library module, add a global constant value 'protected static final String BUNDLE_SELECTION_LIST_SHOWN = "bundle_section_list_shown"', and then down in the onSaveInstance(), save that value as well.

public Bundle saveInstanceState(Bundle savedInstanceState) {
            if (savedInstanceState != null) {
            savedInstanceState

[2015-09-08 14:30] jacobhub commented on #629
I am trying to add ActionBarDrawerToggle but that requires a DrawerLayout but result.getDrawerLayout(); returns null, any idea how to solve this ?

[2015-09-08 14:37] mikepenz commented on #629
@jacobhub makes sense that the `result.getDrawerLayout()` returns `null` as there is no `DrawerLayout` in this case. we only create the view and display it with the `Crossfader`

I assume you have to go with something like this: https://github.com/balysv/material-menu
You are right `ActionBarDrawerToggle` is just used with a `DrawerLayout`

[2015-09-08 14:54] biokys opened #631 "How to listen on profile image click?"

[2015-09-08 16:01] mikepenz commented on #631
https://github.com/mikepenz/MaterialDrawer#add-profiles-and-an-accountheader

This will be triggered when a new profile is selected

[code]

[2015-09-08 16:01] #631 closed

[2015-09-08 16:05] biokys commented on #631
But I meant how to find out, that user clicked on user image in navigation header. Not in list of profiles.

[2015-09-08 16:12] biokys commented on #631
Sorry, it is working... my fault!

[2015-09-08 16:14] mikepenz commented on #631
no problem ;)

[2015-09-08 18:11] fernandodeveloper opened #632 "How use minidrawer ?"
I try use with example, but this version of example is outdated

[2015-09-08 18:13] mikepenz commented on #632
@fernandodeveloper the version of the example is never outdated :D as the sample app is kept in sync with the newest MaterialDrawer version.

https://github.com/mikepenz/MaterialDrawer/blob/develop/app/src/main/java/com/mikepenz/materialdrawer/app/MiniDrawerActivity.java

[2015-09-08 18:13] #632 closed

[2015-09-08 18:18] mikepenz commented on #628
there will be a new v4.0.8 with a new api method to remove the shadow

[2015-09-08 18:18] #628 closed

[2015-09-08 18:20] RubenGees opened #633 "NullPointer"
I got the following exception:
[code]

It happens like 1/1000 so it's not really important, but you may want to look into that.

[2015-09-08 18:21] mikepenz commented on #633
@RubenGees which version do you use?

[2015-09-08 18:27] fernandodeveloper commented on #632
I update again to 4.0.7 but required 23.0.1  (support, design, recycle...) ? You use preview channel?

[2015-09-08 18:29] RubenGees commented on #633
It is a bug which was reported in my bug-collector tool. It was in the last version I published, which used  the last available release 3.x of the Drawer before 4.x was released I think. So it's propably fixed, didn't thought of that...

[2015-09-08 18:34] mikepenz commented on #632
@fernandodeveloper v23.0.1 is already on the stable version

[2015-09-08 18:35] mikepenz commented on #633
@RubenGees ok can't support versions prior to the most up 2 date version. :)

[2015-09-08 18:37] RubenGees commented on #633
Yes, sure, as I said it happens almost never so we can safely ignore this I think.

[2015-09-08 18:37] #633 closed

[2015-09-08 18:38] fernandodeveloper commented on #632
@mikepenz  in my ADT dont show to download 23.0.1 only 23.0.0 i, try download manualy....

Thanks for all, nice work!!

[2015-09-08 18:43] mikepenz commented on #632
ok great

[2015-09-08 19:33] #630 closed

[2015-09-09 13:44] zed13 opened #635 "Method drawer.removeAllStickyFooterItems() break footer."
In my app I need to dynamically change drawer footer content. After call method `removeAllStickyFooterItems()` all calls of `drawer.addStickyFooterItem(someItem)` do not add items to footer.

[2015-09-09 13:50] mikepenz commented on #635
@zed13 yes you are right. this happens because i do not set the Visibility to visible back. thanks for the rebot

[2015-09-09 19:41] #635 closed

[2015-09-09 20:05] seba123neo opened #636 "Error DrawerLayout must be measured with MeasureSpec.EXACTLY."
Hi Mike, I upgraded to version 4 of the library and works perfect in my Samsung Galaxy S6 with android 5.0.2

but throwing error on a phone with android 2.3 (It worked perfect with the previous version of the library)

now throws this error

09-09 16: 58: 56 242: E / AndroidRuntime (12232): java.lang.IllegalArgumentException: DrawerLayout Must Be Measured With MeasureSpec.EXACTLY.

any ideas?

[2015-09-09 20:22] seba123neo commented on #636
Forget it, I've uninstalled and re-installed and now works perfect !!!, sorry XD

close the issue...

[2015-09-10 05:31] danielgomezrico opened #637 "Drawer starts "scrolled" at the end."
Just updated from `3.1.2` to `4.0.8` and the drawer starts scrolled at the bottom ( I have a lot of items on it) but in 3.1.2 it starts without scroll, at the top of the view.

I build my drawer like this

[code]

How can I change this?

[2015-09-10 07:50] Saime1942 opened #638 "Disobedient icons."
When icons are set through withIcon(int iconRes), they do not fade out when Item is disabled.
It works ok when set through withIcon(IIcon iicon).

[2015-09-10 09:51] mooncafes opened #639 "customize header with withHeader() can not use my height size"
hi, when i use my height size in my custom header view and set it to drawer with withHeader() method,
i find a problem that the header view always with a fixed size.

[2015-09-10 13:05] biokys opened #640 "setStatusBarColor() stop changing color when call build() method again"
If I call build() method on DrawerBuilder and than call setStatusBarColor() on result instance, status bar changes color. But when I call build() method again (because i need to redraw all the drawer content with different data), setStatusBarColor() don't work. Any help?

[2015-09-10 18:03] #636 closed

[2015-09-10 18:05] mikepenz commented on #637
@danielgomezrico you add a list of new items to the drawer after it was created. i assume this is the default behavior of a `RecyclerView` when you are at the bottom and add new items. makes somehow sense :D

I recommend you that you get the  `RecyclerView` from the result object and just scroll to top.

[2015-09-10 18:05] #637 closed

[2015-09-10 18:06] mikepenz commented on #638
@Saime1942 what do you mean with fade out? if you want drawables to be tinted you have to activate this with `withIconTintingEnabled(true)` or you provide a colored icon

[2015-09-10 18:06] #638 closed

[2015-09-10 18:07] mikepenz commented on #639
@mooncafes you also have to provide the height to the header, otherwise it will calculate the correct height for a normal header.

you can use this method `withHeightDp`

[2015-09-10 18:07] #639 closed

[2015-09-10 18:08] mikepenz commented on #640
@biokys you must not call `.build()` more than once in an `activity`. just one time during creation of the view. afterwards you should modify the items of the `Drawer` object you retrieve from the `.build()` method. please see the README for more details

[2015-09-10 18:08] #640 closed

[2015-09-10 18:31] seba123neo opened #641 "Question: Highlight selected row in recyclerview API 10"
testing the new version, I realized that the list (recyclerview) is not highlighting when select a option in API 10, It is confusing because it means not known which option was selected.

in the same device, the options of the navigation drawer of google play app, highlighting well.

[2015-09-10 18:33] mikepenz commented on #641
@seba123neo i know that this does not work, but the states which i use to keep the selection does not exist with API 10. As i am thinking of moving up to API 14+ it was fine for me ignoring this case as 10+ isn't as popular anymore. everything else is working.

If you have an easy fix without breaking all the great things for 14+ let me know ;)

[2015-09-10 18:33] #641 closed

[2015-09-10 23:35] AngleV opened #642 "Drawer open lag"
In a Samsung Galaxy S6 with 5.1.1 the first time drawer opens up has a small lag.The second time its smoothly as perfect.
Any idea?

[2015-09-11 03:13] Saime1942 commented on #638
@mikepenz I meant this:

![screenshot_2015-09-11-07-39-36](https://cloud.githubusercontent.com/assets/14172737/9806338/a49d77fe-5858-11e5-9ba1-78721689fcf1.png)

And yes, `withIconTintingEnabled(true)` fixed that.
Sorry for interruption.

[2015-09-11 09:57] mikepenz commented on #642
@AngleV do you have any big ressources in your drawer or images?

[2015-09-11 11:05] AngleV commented on #642
i got a custom header with a resource image of 53.7 kb ?

[2015-09-11 11:07] mikepenz commented on #642
@AngleV no seems small enough

[2015-09-11 11:10] AngleV commented on #642
@mikepenz

Test it without the StickyHeader. The issue remains !!!

[2015-09-11 11:11] mikepenz commented on #642
@AngleV yeah as mentiond the images is small enough. i will have to do some tests what could cause this on your side. You use Iconics Drawables or normal drawables?

[2015-09-11 11:18] AngleV commented on #642
@mikepenz

 .withIcon(FontAwesome.Icon.faw_star);

[2015-09-11 13:45] AngleV commented on #623
as @mikepenz  allready stated i prefer a great library as this one rather than a complete documentation for a lib with a lot of flaws.

@mikepenz  You can count me in for any help you might need to build up the documentation.
Just in case.
Also this is good change to give you my best compliments for this great lib of yours. But the most important thing its not the lib but your fast support even th

[2015-09-11 13:53] TYZRPVX opened #643 "Beginner's problem about ActionBarDrawerToggle"
I want to get the effect "Switching between Back-Arrow or Hamburger-Icon", what I think is to new an `ActionBarDrawerToggle`, but new an `ActionBarDrawerToggle` requires `DrawerLayout`.
I write `mLayout = (DrawerLayout) findViewById(R.id.material_drawer_layout); `in `onCreate()`.
while this throw a NullPointerException, how to fix this problem?

[2015-09-11 13:56] mikepenz commented on #643
I can't give support for the `ActionBarDrawerToggle` as this is android specific and not MaterialDrawer specific. but i think you should be able to find everything you need in the sample applicaitons -> `CustomContainerActivity`

[2015-09-11 13:56] #643 closed

[2015-09-11 15:39] danielgomezrico commented on #440
I just reported here https://code.google.com/p/android/issues/detail?id=186149 if someone gets the same problem.

[2015-09-11 16:26] danielgomezrico commented on #440
@mikepenz there´s a way to avoid it.

1. Open the app
2. Show the drawer.
3. Resume the app with the drawer visible.
4. Open it again and now it looks right.

What can I do to avoid it? :+1:

[2015-09-11 18:04] mikepenz commented on #440
@danielgomezrico i think you should not refer to a library in an official android bug report. have you tried it with a normal DrawerLayout with the ScrimInsetsFrameLayout without any library code?

Also do you use the latest version? updated to the latest appcompat libs?

[2015-09-12 02:43] RealFeeling opened #644 "Please Help!"
Sorry, I really don't know how to use this code. Could you just tell me the every step . ths so much

[2015-09-12 05:41] agungsijawir commented on #644
you can start by reading Setup section [here](https://github.com/mikepenz/MaterialDrawer#setup) and open sample application in `app` folder and learn some sample code from there.

[2015-09-12 09:35] mikepenz commented on #644
http://developer.android.com/training/basics/firstapp/index.html

[2015-09-12 09:35] #644 closed

[2015-09-12 14:15] blennerSilva commented on #36
hey mike do you think you could help me? i need to load an image from gallery as a prifile pic...could you help me ?

[2015-09-12 14:16] mikepenz commented on #36
@blennerSilva you can set an url, drawable, bitmap as profile pic. so if you get the image as bitmap or drawable from the gallery you can set this. i assume you will have to load the image in an asyncTask and as soon as you got it you can set it

[2015-09-12 14:26] blennerSilva commented on #36
but thats only possible in the new version of the library or in all of them ? im using this one
  compile('com.mikepenz.materialdrawer:library:2.8.2@aar') {
        transitive = true
    }

[2015-09-12 14:27] mikepenz commented on #36
@blennerSilva sorry i can't give support for versions different than the most current one.